{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "version_module": "True",
  "resources": {
    "leads": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListLeadsResponse"
          },
          "parameters": {
            "requestMetadata.experimentIds": {
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "How to order Leads. Currently, only `create_time`\nand `create_time desc` are supported"
            },
            "requestMetadata.userOverrides.userId": {
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "pageToken": {
              "description": "A token identifying a page of results that the server returns.\nTypically, this is the value of `ListLeadsResponse.next_page_token`\nreturned from the previous call to\nListLeads.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Requested page size. Server may return fewer leads than requested.\nIf unspecified, server picks an appropriate default.",
              "type": "integer"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "type": "string",
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address."
            }
          },
          "flatPath": "v2/leads",
          "path": "v2/leads",
          "id": "partners.leads.list",
          "description": "Lists advertiser leads for a user's associated company.\nShould only be called within the context of an authorized logged in user."
        }
      }
    },
    "offers": {
      "methods": {
        "list": {
          "description": "Lists the Offers available for the current user",
          "parameterOrder": [],
          "response": {
            "$ref": "ListOffersResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "description": "Locale to use for the current request.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v2/offers",
          "id": "partners.offers.list",
          "path": "v2/offers"
        }
      },
      "resources": {
        "history": {
          "methods": {
            "list": {
              "flatPath": "v2/offers/history",
              "path": "v2/offers/history",
              "id": "partners.offers.history.list",
              "description": "Lists the Historical Offers for the current user (or user's entire company)",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOffersHistoryResponse"
              },
              "parameterOrder": [],
              "parameters": {
                "requestMetadata.trafficSource.trafficSourceId": {
                  "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
                  "type": "string",
                  "location": "query"
                },
                "requestMetadata.locale": {
                  "type": "string",
                  "location": "query",
                  "description": "Locale to use for the current request."
                },
                "requestMetadata.userOverrides.ipAddress": {
                  "location": "query",
                  "description": "IP address to use instead of the user's geo-located IP address.",
                  "type": "string"
                },
                "entireCompany": {
                  "description": "if true, show history for the entire company.  Requires user to be admin.",
                  "type": "boolean",
                  "location": "query"
                },
                "requestMetadata.experimentIds": {
                  "repeated": true,
                  "location": "query",
                  "description": "Experiment IDs the current request belongs to.",
                  "type": "string"
                },
                "requestMetadata.trafficSource.trafficSubId": {
                  "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Comma-separated list of fields to order by, e.g.: \"foo,bar,baz\".\nUse \"foo desc\" to sort descending.\nList of valid field names is: name, offer_code, expiration_time, status,\n    last_modified_time, sender_name, creation_time, country_code,\n    offer_type."
                },
                "requestMetadata.partnersSessionId": {
                  "location": "query",
                  "description": "Google Partners session ID.",
                  "type": "string"
                },
                "requestMetadata.userOverrides.userId": {
                  "description": "Logged-in user ID to impersonate instead of the user's ID.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to retrieve a specific page.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of rows to return per page.",
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "analytics": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListAnalyticsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.experimentIds": {
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            },
            "requestMetadata.partnersSessionId": {
              "description": "Google Partners session ID.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results that the server returns.\nTypically, this is the value of `ListAnalyticsResponse.next_page_token`\nreturned from the previous call to\nListAnalytics.\nWill be a date string in `YYYY-MM-DD` format representing the end date\nof the date range of results to return.\nIf unspecified or set to \"\", default value is the current date."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Requested page size. Server may return fewer analytics than requested.\nIf unspecified or set to 0, default value is 30.\nSpecifies the number of days in the date range when querying analytics.\nThe `page_token` represents the end date of the date range\nand the start date is calculated using the `page_size` as the number\nof days BEFORE the end date.\nMust be a non-negative integer.",
              "type": "integer"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v2/analytics",
          "id": "partners.analytics.list",
          "path": "v2/analytics",
          "description": "Lists analytics data for a user's associated company.\nShould only be called within the context of an authorized logged in user."
        }
      }
    },
    "userStates": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListUserStatesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.experimentIds": {
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            }
          },
          "flatPath": "v2/userStates",
          "id": "partners.userStates.list",
          "path": "v2/userStates",
          "description": "Lists states for current user."
        }
      }
    },
    "v2": {
      "methods": {
        "updateLeads": {
          "response": {
            "$ref": "Lead"
          },
          "parameterOrder": [],
          "httpMethod": "PATCH",
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Standard field mask for the set of fields to be updated.\nRequired with at least 1 value in FieldMask's paths.\nOnly `state` and `adwords_customer_id` are currently supported.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            }
          },
          "flatPath": "v2/leads",
          "id": "partners.updateLeads",
          "path": "v2/leads",
          "request": {
            "$ref": "Lead"
          },
          "description": "Updates the specified lead."
        },
        "updateCompanies": {
          "httpMethod": "PATCH",
          "parameterOrder": [],
          "response": {
            "$ref": "Company"
          },
          "parameters": {
            "requestMetadata.userOverrides.userId": {
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.partnersSessionId": {
              "type": "string",
              "location": "query",
              "description": "Google Partners session ID."
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "type": "string",
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Standard field mask for the set of fields to be updated.\nRequired with at least 1 value in FieldMask's paths.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v2/companies",
          "path": "v2/companies",
          "id": "partners.updateCompanies",
          "request": {
            "$ref": "Company"
          },
          "description": "Update company.\nShould only be called within the context of an authorized logged in user."
        },
        "getPartnersstatus": {
          "description": "Gets Partners Status of the logged in user's agency.\nShould only be called if the logged in user is the admin of the agency.",
          "response": {
            "$ref": "GetPartnersStatusResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "type": "string",
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID."
            }
          },
          "flatPath": "v2/partnersstatus",
          "id": "partners.getPartnersstatus",
          "path": "v2/partnersstatus"
        }
      }
    },
    "users": {
      "methods": {
        "deleteCompanyRelation": {
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "userId"
          ],
          "parameters": {
            "requestMetadata.userOverrides.userId": {
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "description": "Locale to use for the current request.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string",
              "location": "query"
            },
            "userId": {
              "description": "The ID of the user. Can be set to \u003ccode\u003eme\u003c/code\u003e to mean\nthe currently authenticated user.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v2/users/{userId}/companyRelation",
          "id": "partners.users.deleteCompanyRelation",
          "path": "v2/users/{userId}/companyRelation",
          "description": "Deletes a user's company relation. Unaffiliaites the user from a company."
        },
        "createCompanyRelation": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "userId"
          ],
          "response": {
            "$ref": "CompanyRelation"
          },
          "parameters": {
            "requestMetadata.userOverrides.ipAddress": {
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.experimentIds": {
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "type": "string",
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us."
            },
            "userId": {
              "description": "The ID of the user. Can be set to \u003ccode\u003eme\u003c/code\u003e to mean\nthe currently authenticated user.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "description": "Google Partners session ID.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            }
          },
          "flatPath": "v2/users/{userId}/companyRelation",
          "path": "v2/users/{userId}/companyRelation",
          "id": "partners.users.createCompanyRelation",
          "request": {
            "$ref": "CompanyRelation"
          },
          "description": "Creates a user's company relation. Affiliates the user to a company."
        },
        "get": {
          "id": "partners.users.get",
          "path": "v2/users/{userId}",
          "description": "Gets a user.",
          "response": {
            "$ref": "User"
          },
          "parameterOrder": [
            "userId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.userOverrides.userId": {
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "userView": {
              "location": "query",
              "enum": [
                "BASIC",
                "PROFILE",
                "PUBLIC_PROFILE"
              ],
              "description": "Specifies what parts of the user information to return.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string",
              "location": "query"
            },
            "userId": {
              "location": "path",
              "description": "Identifier of the user. Can be set to \u003ccode\u003eme\u003c/code\u003e to mean the currently\nauthenticated user.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v2/users/{userId}"
        },
        "updateProfile": {
          "parameters": {
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.locale": {
              "description": "Locale to use for the current request.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v2/users/profile",
          "id": "partners.users.updateProfile",
          "path": "v2/users/profile",
          "request": {
            "$ref": "UserProfile"
          },
          "description": "Updates a user's profile. A user can only update their own profile and\nshould only be called within the context of a logged in user.",
          "response": {
            "$ref": "UserProfile"
          },
          "parameterOrder": [],
          "httpMethod": "PATCH"
        }
      }
    },
    "companies": {
      "methods": {
        "list": {
          "path": "v2/companies",
          "id": "partners.companies.list",
          "description": "Lists companies.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListCompaniesResponse"
          },
          "parameters": {
            "maxMonthlyBudget.nanos": {
              "location": "query",
              "format": "int32",
              "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
              "type": "integer"
            },
            "services": {
              "enum": [
                "SERVICE_UNSPECIFIED",
                "S_ADVANCED_ADWORDS_SUPPORT",
                "S_ADVERTISING_ON_GOOGLE",
                "S_AN_ENHANCED_WEBSITE",
                "S_AN_ONLINE_MARKETING_PLAN",
                "S_MOBILE_AND_VIDEO_ADS",
                "S_MOBILE_WEBSITE_SERVICES"
              ],
              "description": "List of services that the returned agencies should provide. If this is\nnot empty, any returned agency must have at least one of these services,\nor one of the specializations in the \"specializations\" field.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "maxMonthlyBudget.units": {
              "location": "query",
              "format": "int64",
              "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "minMonthlyBudget.nanos": {
              "format": "int32",
              "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
              "type": "integer",
              "location": "query"
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results that the server returns.\nTypically, this is the value of `ListCompaniesResponse.next_page_token`\nreturned from the previous call to\nListCompanies.",
              "type": "string"
            },
            "companyName": {
              "description": "Company name to search for.",
              "type": "string",
              "location": "query"
            },
            "industries": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "enum": [
                "INDUSTRY_UNSPECIFIED",
                "I_AUTOMOTIVE",
                "I_BUSINESS_TO_BUSINESS",
                "I_CONSUMER_PACKAGED_GOODS",
                "I_EDUCATION",
                "I_FINANCE",
                "I_HEALTHCARE",
                "I_MEDIA_AND_ENTERTAINMENT",
                "I_RETAIL",
                "I_TECHNOLOGY",
                "I_TRAVEL"
              ],
              "description": "List of industries the company can help with."
            },
            "websiteUrl": {
              "description": "Website URL that will help to find a better matched company.\n.",
              "type": "string",
              "location": "query"
            },
            "gpsMotivations": {
              "location": "query",
              "enum": [
                "GPS_MOTIVATION_UNSPECIFIED",
                "GPSM_HELP_WITH_ADVERTISING",
                "GPSM_HELP_WITH_WEBSITE",
                "GPSM_NO_WEBSITE"
              ],
              "description": "List of reasons for using Google Partner Search to get companies.",
              "type": "string",
              "repeated": true
            },
            "languageCodes": {
              "description": "List of language codes that company can support. Only primary language\nsubtags are accepted as defined by\n\u003ca href=\"https://tools.ietf.org/html/bcp47\"\u003eBCP 47\u003c/a\u003e\n(IETF BCP 47, \"Tags for Identifying Languages\").",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "Requested page size. Server may return fewer companies than requested.\nIf unspecified, server picks an appropriate default.",
              "type": "integer",
              "location": "query"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "requestMetadata.experimentIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Experiment IDs the current request belongs to."
            },
            "orderBy": {
              "location": "query",
              "description": "How to order addresses within the returned companies. Currently, only\n`address` and `address desc` is supported which will sorted by closest to\nfarthest in distance from given address and farthest to closest distance\nfrom given address respectively.",
              "type": "string"
            },
            "specializations": {
              "repeated": true,
              "location": "query",
              "enum": [
                "BADGE_SPECIALIZATION_UNKNOWN",
                "BADGE_SPECIALIZATION_ADWORDS_SEARCH",
                "BADGE_SPECIALIZATION_ADWORDS_DISPLAY",
                "BADGE_SPECIALIZATION_ADWORDS_MOBILE",
                "BADGE_SPECIALIZATION_ADWORDS_VIDEO",
                "BADGE_SPECIALIZATION_ADWORDS_SHOPPING"
              ],
              "description": "List of specializations that the returned agencies should provide. If this\nis not empty, any returned agency must have at least one of these\nspecializations, or one of the services in the \"services\" field.",
              "type": "string"
            },
            "maxMonthlyBudget.currencyCode": {
              "location": "query",
              "description": "The 3-letter currency code defined in ISO 4217.",
              "type": "string"
            },
            "minMonthlyBudget.currencyCode": {
              "type": "string",
              "location": "query",
              "description": "The 3-letter currency code defined in ISO 4217."
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "view": {
              "enum": [
                "COMPANY_VIEW_UNSPECIFIED",
                "CV_GOOGLE_PARTNER_SEARCH"
              ],
              "description": "The view of the `Company` resource to be returned. This must not be\n`COMPANY_VIEW_UNSPECIFIED`.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.locale": {
              "location": "query",
              "description": "Locale to use for the current request.",
              "type": "string"
            },
            "address": {
              "location": "query",
              "description": "The address to use when searching for companies.\nIf not given, the geo-located address of the request is used.",
              "type": "string"
            },
            "minMonthlyBudget.units": {
              "format": "int64",
              "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v2/companies"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "companyId"
          ],
          "response": {
            "$ref": "GetCompanyResponse"
          },
          "parameters": {
            "address": {
              "location": "query",
              "description": "The address to use for sorting the company's addresses by proximity.\nIf not given, the geo-located address of the request is used.\nUsed when order_by is set.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "description": "Locale to use for the current request.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "location": "query",
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string"
            },
            "companyId": {
              "location": "path",
              "description": "The ID of the company to retrieve.",
              "type": "string",
              "required": true
            },
            "requestMetadata.experimentIds": {
              "location": "query",
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true
            },
            "currencyCode": {
              "type": "string",
              "location": "query",
              "description": "If the company's budget is in a different currency code than this one, then\nthe converted budget is converted to this currency code."
            },
            "requestMetadata.trafficSource.trafficSubId": {
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "description": "How to order addresses within the returned company. Currently, only\n`address` and `address desc` is supported which will sorted by closest to\nfarthest in distance from given address and farthest to closest distance\nfrom given address respectively.",
              "type": "string"
            },
            "requestMetadata.partnersSessionId": {
              "description": "Google Partners session ID.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.userOverrides.userId": {
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string",
              "location": "query"
            },
            "view": {
              "type": "string",
              "location": "query",
              "enum": [
                "COMPANY_VIEW_UNSPECIFIED",
                "CV_GOOGLE_PARTNER_SEARCH"
              ],
              "description": "The view of `Company` resource to be returned. This must not be\n`COMPANY_VIEW_UNSPECIFIED`."
            }
          },
          "flatPath": "v2/companies/{companyId}",
          "path": "v2/companies/{companyId}",
          "id": "partners.companies.get",
          "description": "Gets a company."
        }
      },
      "resources": {
        "leads": {
          "methods": {
            "create": {
              "parameters": {
                "companyId": {
                  "location": "path",
                  "description": "The ID of the company to contact.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v2/companies/{companyId}/leads",
              "path": "v2/companies/{companyId}/leads",
              "id": "partners.companies.leads.create",
              "request": {
                "$ref": "CreateLeadRequest"
              },
              "description": "Creates an advertiser lead for the given company ID.",
              "httpMethod": "POST",
              "parameterOrder": [
                "companyId"
              ],
              "response": {
                "$ref": "CreateLeadResponse"
              }
            }
          }
        }
      }
    },
    "userEvents": {
      "methods": {
        "log": {
          "request": {
            "$ref": "LogUserEventRequest"
          },
          "description": "Logs a user event.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "LogUserEventResponse"
          },
          "parameters": {},
          "flatPath": "v2/userEvents:log",
          "path": "v2/userEvents:log",
          "id": "partners.userEvents.log"
        }
      }
    },
    "clientMessages": {
      "methods": {
        "log": {
          "description": "Logs a generic message from the client, such as\n`Failed to render component`, `Profile page is running slow`,\n`More than 500 users have accessed this result.`, etc.",
          "request": {
            "$ref": "LogMessageRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "LogMessageResponse"
          },
          "parameters": {},
          "flatPath": "v2/clientMessages:log",
          "path": "v2/clientMessages:log",
          "id": "partners.clientMessages.log"
        }
      }
    },
    "exams": {
      "methods": {
        "getToken": {
          "response": {
            "$ref": "ExamToken"
          },
          "parameterOrder": [
            "examType"
          ],
          "httpMethod": "GET",
          "parameters": {
            "requestMetadata.trafficSource.trafficSubId": {
              "location": "query",
              "description": "Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "examType": {
              "location": "path",
              "enum": [
                "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
                "CET_ADWORDS_FUNDAMENTALS",
                "CET_ADWORDS_ADVANCED_SEARCH",
                "CET_ADWORDS_ADVANCED_DISPLAY",
                "CET_VIDEO_ADS",
                "CET_DOUBLECLICK",
                "CET_ANALYTICS",
                "CET_SHOPPING",
                "CET_MOBILE",
                "CET_DIGITAL_SALES",
                "CET_MOBILE_SITES"
              ],
              "description": "The exam type we are requesting a token for.",
              "type": "string",
              "required": true
            },
            "requestMetadata.partnersSessionId": {
              "location": "query",
              "description": "Google Partners session ID.",
              "type": "string"
            },
            "requestMetadata.userOverrides.userId": {
              "location": "query",
              "description": "Logged-in user ID to impersonate instead of the user's ID.",
              "type": "string"
            },
            "requestMetadata.trafficSource.trafficSourceId": {
              "location": "query",
              "description": "Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.",
              "type": "string"
            },
            "requestMetadata.locale": {
              "description": "Locale to use for the current request.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.userOverrides.ipAddress": {
              "description": "IP address to use instead of the user's geo-located IP address.",
              "type": "string",
              "location": "query"
            },
            "requestMetadata.experimentIds": {
              "description": "Experiment IDs the current request belongs to.",
              "type": "string",
              "repeated": true,
              "location": "query"
            }
          },
          "flatPath": "v2/exams/{examType}/token",
          "id": "partners.exams.getToken",
          "path": "v2/exams/{examType}/token",
          "description": "Gets an Exam Token for a Partner's user to take an exam in the Exams System"
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "schemas": {
    "Location": {
      "id": "Location",
      "description": "A location with address and geographic coordinates. May optionally contain a\ndetailed (multi-field) version of the address.",
      "type": "object",
      "properties": {
        "administrativeArea": {
          "description": "Top-level administrative subdivision of this country.",
          "type": "string"
        },
        "locality": {
          "type": "string",
          "description": "Generally refers to the city/town portion of an address."
        },
        "latLng": {
          "$ref": "LatLng",
          "description": "The latitude and longitude of the location, in degrees."
        },
        "address": {
          "description": "The single string version of the address.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "CLDR (Common Locale Data Repository) region code ."
        },
        "dependentLocality": {
          "description": "Dependent locality or sublocality. Used for UK dependent localities, or\nneighborhoods or boroughs in other locations.",
          "type": "string"
        },
        "postalCode": {
          "description": "Values are frequently alphanumeric.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code of the address. Should be in BCP 47 format.",
          "type": "string"
        },
        "sortingCode": {
          "type": "string",
          "description": "Use of this code is very country-specific, but will refer to a secondary\nclassification code for sorting mail."
        },
        "addressLine": {
          "description": "The following address lines represent the most specific part of any\naddress.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CertificationExamStatus": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Adwords Fundamentals exam.",
            "AdWords advanced search exam.",
            "AdWords advanced display exam.",
            "VideoAds exam.",
            "DoubleClick exam.",
            "Analytics exam.",
            "Shopping exam.",
            "Mobile exam.",
            "Digital Sales exam.",
            "Mobile Sites exam."
          ],
          "enum": [
            "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
            "CET_ADWORDS_FUNDAMENTALS",
            "CET_ADWORDS_ADVANCED_SEARCH",
            "CET_ADWORDS_ADVANCED_DISPLAY",
            "CET_VIDEO_ADS",
            "CET_DOUBLECLICK",
            "CET_ANALYTICS",
            "CET_SHOPPING",
            "CET_MOBILE",
            "CET_DIGITAL_SALES",
            "CET_MOBILE_SITES"
          ],
          "description": "The type of certification exam."
        },
        "numberUsersPass": {
          "format": "int32",
          "description": "The number of people who have passed the certification exam.",
          "type": "integer"
        }
      },
      "id": "CertificationExamStatus",
      "description": "Status for a Google Partners certification exam.",
      "type": "object"
    },
    "ExamToken": {
      "type": "object",
      "properties": {
        "examId": {
          "format": "int64",
          "description": "The id of the exam the token is for.",
          "type": "string"
        },
        "token": {
          "description": "The token, only present if the user has access to the exam.",
          "type": "string"
        },
        "examType": {
          "enumDescriptions": [
            "Unchosen.",
            "Adwords Fundamentals exam.",
            "AdWords advanced search exam.",
            "AdWords advanced display exam.",
            "VideoAds exam.",
            "DoubleClick exam.",
            "Analytics exam.",
            "Shopping exam.",
            "Mobile exam.",
            "Digital Sales exam.",
            "Mobile Sites exam."
          ],
          "enum": [
            "CERTIFICATION_EXAM_TYPE_UNSPECIFIED",
            "CET_ADWORDS_FUNDAMENTALS",
            "CET_ADWORDS_ADVANCED_SEARCH",
            "CET_ADWORDS_ADVANCED_DISPLAY",
            "CET_VIDEO_ADS",
            "CET_DOUBLECLICK",
            "CET_ANALYTICS",
            "CET_SHOPPING",
            "CET_MOBILE",
            "CET_DIGITAL_SALES",
            "CET_MOBILE_SITES"
          ],
          "description": "The type of the exam the token belongs to.",
          "type": "string"
        }
      },
      "id": "ExamToken",
      "description": "A token that allows a user to take an exam."
    },
    "OptIns": {
      "description": "A set of opt-ins for a user.",
      "type": "object",
      "properties": {
        "phoneContact": {
          "type": "boolean",
          "description": "An opt-in to allow recieivng phone calls about their Partners account."
        },
        "physicalMail": {
          "description": "An opt-in to receive special promotional gifts and material in the mail.",
          "type": "boolean"
        },
        "marketComm": {
          "description": "An opt-in about receiving email from Partners marketing teams. Includes\nmember-only events and special promotional offers for Google products.",
          "type": "boolean"
        },
        "specialOffers": {
          "description": "An opt-in about receiving email regarding new features and products.",
          "type": "boolean"
        },
        "performanceSuggestions": {
          "description": "An opt-in about receiving email with customized AdWords campaign management\ntips.",
          "type": "boolean"
        }
      },
      "id": "OptIns"
    },
    "Rank": {
      "properties": {
        "value": {
          "format": "double",
          "description": "The numerical value of the rank.",
          "type": "number"
        },
        "type": {
          "description": "The type of rank.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Total final score."
          ],
          "enum": [
            "RANK_TYPE_UNSPECIFIED",
            "RT_FINAL_SCORE"
          ]
        }
      },
      "id": "Rank",
      "description": "Information related to ranking of results.",
      "type": "object"
    },
    "UserProfile": {
      "description": "The profile information of a Partners user.",
      "type": "object",
      "properties": {
        "profilePublic": {
          "description": "Whether the user's public profile is visible to anyone with the URL.",
          "type": "boolean"
        },
        "channels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of ids representing which channels the user selected they were in."
        },
        "jobFunctions": {
          "description": "A list of ids represnting which job categories the user selected.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "givenName": {
          "description": "The user's given name.",
          "type": "string"
        },
        "address": {
          "$ref": "Location",
          "description": "The user's mailing address, contains multiple fields."
        },
        "industries": {
          "description": "A list of ids representing which industries the user selected.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "familyName": {
          "description": "The user's family name.",
          "type": "string"
        },
        "emailOptIns": {
          "$ref": "OptIns",
          "description": "The list of opt-ins for the user, related to communication preferences."
        },
        "languages": {
          "description": "The list of languages this user understands.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "markets": {
          "description": "A list of ids representing which markets the user was interested in.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "adwordsManagerAccount": {
          "type": "string",
          "format": "int64",
          "description": "If the user has edit access to multiple accounts, the user can choose the\npreferred account and it is used when a personal account is needed. Can\nbe empty."
        },
        "phoneNumber": {
          "description": "The user's phone number.",
          "type": "string"
        },
        "primaryCountryCode": {
          "description": "The user's primary country, an ISO 2-character code.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address the user has selected on the Partners site as primary."
        }
      },
      "id": "UserProfile"
    },
    "GetPartnersStatusResponse": {
      "description": "Response message for\nGetPartnersStatus.",
      "type": "object",
      "properties": {
        "responseMetadata": {
          "$ref": "ResponseMetadata",
          "description": "Current response metadata."
        }
      },
      "id": "GetPartnersStatusResponse"
    },
    "HistoricalOffer": {
      "type": "object",
      "properties": {
        "lastModifiedTime": {
          "format": "google-datetime",
          "description": "Time last action was taken.",
          "type": "string"
        },
        "adwordsUrl": {
          "description": "Client's AdWords page URL.",
          "type": "string"
        },
        "offerType": {
          "enumDescriptions": [
            "Unset.",
            "AdWords spend X get Y.",
            "Youtube video.",
            "Spend Match up to Y."
          ],
          "enum": [
            "OFFER_TYPE_UNSPECIFIED",
            "OFFER_TYPE_SPEND_X_GET_Y",
            "OFFER_TYPE_VIDEO",
            "OFFER_TYPE_SPEND_MATCH"
          ],
          "description": "Type of offer.",
          "type": "string"
        },
        "senderName": {
          "description": "Name (First + Last) of the partners user to whom the incentive is allocated.",
          "type": "string"
        },
        "offerCountryCode": {
          "description": "Country Code for the offer country.",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "Time this offer expires.",
          "type": "string"
        },
        "offerCode": {
          "description": "Offer code.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "Time offer was first created.",
          "type": "string"
        },
        "clientEmail": {
          "description": "Email address for client.",
          "type": "string"
        },
        "status": {
          "enum": [
            "OFFER_STATUS_UNSPECIFIED",
            "OFFER_STATUS_DISTRIBUTED",
            "OFFER_STATUS_REDEEMED",
            "OFFER_STATUS_AWARDED",
            "OFFER_STATUS_EXPIRED"
          ],
          "description": "Status of the offer.",
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "Offer distributed.",
            "Offer redeemed.",
            "Offer awarded.",
            "Offer expired."
          ]
        },
        "clientId": {
          "format": "int64",
          "description": "ID of client.",
          "type": "string"
        },
        "clientName": {
          "description": "Name of the client.",
          "type": "string"
        }
      },
      "id": "HistoricalOffer",
      "description": "Historical information about a Google Partners Offer."
    },
    "LogUserEventRequest": {
      "description": "Request message for\nLogUserEvent.",
      "type": "object",
      "properties": {
        "eventCategory": {
          "description": "The category the action belongs to.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Google Partner Search category.",
            "Google Partner sign-up flow category.",
            "Google Partner portal category.",
            "Google Partner portal my-profile category.",
            "Google Partner portal certifications category.",
            "Google Partner portal community category.",
            "Google Partner portal insights category.",
            "Google Partner portal clients category.",
            "Google Partner portal public user profile category.",
            "Google Partner panel category.",
            "Google Partner portal last admin dialog category.",
            "Google Partner client category.",
            "Google Partner portal company profile category.",
            "External links category.",
            "Google Partner landing category."
          ],
          "enum": [
            "EVENT_CATEGORY_UNSPECIFIED",
            "GOOGLE_PARTNER_SEARCH",
            "GOOGLE_PARTNER_SIGNUP_FLOW",
            "GOOGLE_PARTNER_PORTAL",
            "GOOGLE_PARTNER_PORTAL_MY_PROFILE",
            "GOOGLE_PARTNER_PORTAL_CERTIFICATIONS",
            "GOOGLE_PARTNER_PORTAL_COMMUNITY",
            "GOOGLE_PARTNER_PORTAL_INSIGHTS",
            "GOOGLE_PARTNER_PORTAL_CLIENTS",
            "GOOGLE_PARTNER_PUBLIC_USER_PROFILE",
            "GOOGLE_PARTNER_PANEL",
            "GOOGLE_PARTNER_PORTAL_LAST_ADMIN_DIALOG",
            "GOOGLE_PARTNER_CLIENT",
            "GOOGLE_PARTNER_PORTAL_COMPANY_PROFILE",
            "EXTERNAL_LINKS",
            "GOOGLE_PARTNER_LANDING"
          ]
        },
        "lead": {
          "description": "Advertiser lead information.",
          "$ref": "Lead"
        },
        "eventAction": {
          "description": "The action that occurred.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Advertiser clicked `Find a partner` bottom button.",
            "Advertiser clicked `Find a partner` top button.",
            "Agency clicked `Join now` bottom button.",
            "Agency clicked `Join now` top button.",
            "Advertiser canceled partner contact form.",
            "Advertiser started partner contact form.",
            "Advertiser completed partner contact form.",
            "Advertiser entered email in contact form.",
            "Advertiser entered name in contact form.",
            "Advertiser entered phone in contact form.",
            "Advertiser failed \u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e\nin contact form.",
            "Company viewed by advertiser.",
            "Advertiser canceled partner contact form on Google Partner Search.",
            "Advertiser changed a top search parameter.",
            "Advertiser started partner contact form on Google Partner Search.",
            "Advertiser clicked `Show more partners` bottom button.",
            "Advertiser completed partner contact form on Google Partner Search.",
            "Advertiser saw no partners available with search criteria.",
            "Advertiser performed search on Google Partner Search.",
            "Advertiser viewed a partner on Google Partner Search.",
            "Advertiser canceled partner contact form on profile page.",
            "Advertiser started partner contact form on profile page.",
            "Advertiser clicked partner website.",
            "Advertiser completed contact form on profile page.",
            "Advertiser viewed a partner profile.",
            "Agency clicked `accept Terms Of Service` button.",
            "Agency changed Terms Of Service country.",
            "Agency added address in profile portal.",
            "Agency added phone number in profile portal.",
            "Agency changed primary account association.",
            "Agency changed primary country association.",
            "Agency clicked `affiliate` button in profile portal.",
            "Agency clicked `give edit access` in profile portal.",
            "Agency clicked `log out` in profile portal.",
            "Agency clicked profile portal left nav.",
            "Agency clicked `save and continue` at bottom of complete profile.",
            "Agency clicked `unaffiliate` in profile portal.",
            "Agency filled out company affiliation in profile portal.",
            "Agency successfully connected with company in profile portal.",
            "Agency clicked create MCC in profile portal.",
            "Agency did not have an MCC associated on profile portal.",
            "Agency had an MCC associated on profile portal.",
            "Agency added job function in profile portal.",
            "Agency looked at job function drop-down.",
            "Agency selected `account manage` as job function.",
            "Agency selected `account planner` as job function.",
            "Agency selected `Analytics` as job function.",
            "Agency selected `creative` as job function.",
            "Agency selected `media buyer` as job function.",
            "Agency selected `media planner` as job function.",
            "Agency selected `other` as job function.",
            "Agency selected `production` as job function.",
            "Agency selected `SEO` as job function.",
            "Agency selected `sales rep` as job function.",
            "Agency selected `search specialist` as job function.",
            "Agency added channels in profile portal.",
            "Agency looked at `add channel` drop-down.",
            "Agency selected `cross channel` from add channel drop-down.",
            "Agency selected `display` from add channel drop-down.",
            "Agency selected `mobile` from add channel drop-down.",
            "Agency selected `search` from add channel drop-down.",
            "Agency selected `social` from add channel drop-down.",
            "Agency selected `tools` from add channel drop-down.",
            "Agency selected `YouTube` from add channel drop-down.",
            "Agency added industries in profile portal.",
            "Agency changed `add industries` drop-down.",
            "Agency added markets in profile portal.",
            "Agency changed `add markets` drop-down.",
            "Agency checked `recieve mail promotions` in profile portal.",
            "Agency checked `recieve mail promotions` in sign-up.",
            "Agency selected `opt-in beta tests and market research`.",
            "Agency selected `opt-in beta tests` in profile portal.",
            "Agency selected `opt-in news` in profile portal.",
            "Agency selected `opt-in news invitations and promotions`.",
            "Agency selected `opt-in performance SUG` in profile portal.",
            "Agency selected `opt-in performance suggestions`.",
            "Agency selected `opt-in select all email notifications`.",
            "Agency selected `select all opt-ins` in profile portal.",
            "Agency clicked back button on `connect with company`.",
            "Agency clicked continue to overview on `connect with company`.",
            "Agency clicked `create MCC connect with company not found`.",
            "Agency clicked `give edit access connect with company not found`.",
            "Agency clicked `log out connect with company not found`.",
            "Agency clicked `skip for now on connect with company page`.",
            "Agency closed connection to company.",
            "Agency completed field connect with company.",
            "Agency found company to connect with.",
            "Agency successfully created company.",
            "Agency added new company location.",
            "Agency clicked community `join now link` in portal notifications.",
            "Agency clicked `connect to company` link in portal notifications.",
            "Agency cliecked `get certified` link in portal notifications.",
            "Agency clicked `get VideoAds certified` link in portal notifications.",
            "Agency clicked `link to MCC` link in portal notifications.",
            "Agency clicked `insight content` in portal.",
            "Agency clicked `insights view now pitch decks` in portal.",
            "Agency clicked `insights` left nav in portal.",
            "Agency clicked `insights upload content`.",
            "Agency clicked `insights viewed deprecated`.",
            "Agency clicked `community` left nav in portal.",
            "Agency clicked `join community` button in community portal.",
            "Agency clicked `certifications` left nav in portal.",
            "Agency clicked `certifications product` left nav in portal.",
            "Agency clicked `partner status` left nav in portal.",
            "Agency clicked `partner status product` left nav in portal.",
            "Agency clicked `offers` left nav in portal.",
            "Agency clicked `send` button on offers page.",
            "Agency clicked `exam details` on certifications AdWords page.",
            "Agency clicked `see exams` certifications main page.",
            "Agency clicked `take exam` on certifications exam page.",
            "Agency opened `last admin` dialog.",
            "Agency opened dialog with no users.",
            "Agency promoted user to admin.",
            "Agency unaffiliated.",
            "Agency changed roles.",
            "Advertiser clicked `company name` link to profile.",
            "Advertiser viewed AdWords certificate.",
            "Advertiser viewed AdWords Search certificate.",
            "Advertiser viewed AdWords Display certificate.",
            "Advertiser clicked AdWords certificate help icon.",
            "Advertiser viewed Analytics certificate.",
            "Advertiser viewed DoubleClick certificate.",
            "Advertiser viewed Mobile Sites certificate.",
            "Advertiser viewed VideoAds certificate.",
            "Advertiser clicked Shopping certificate help icon.",
            "Advertiser clicked VideoAds certificate help icon.",
            "Advertiser viewed Digital Sales certificate.",
            "Clicked `help` at bottom.",
            "Clicked `help` at top.",
            "Client error occurred.",
            "Agency clicked left nav `stories`.",
            "Click occured.",
            "Advertiser clicked Mobile certificate help icon.",
            "Agency failed the company verification.",
            "User visited the landing portion of Google Partners.",
            "User visited the Google Partner Search portion of Google Partners.",
            "User visited the agency portal portion of Google Partners.",
            "User cancelled signing up.",
            "User cancelled signing up their company.",
            "Agency clicked `Sign in` top button.",
            "Agency clicked `save and continue` at bottom of incomplete profile.",
            "Agency unselected `opt-in news invitations and promotions`.",
            "Agency unselected `opt-in beta tests and market research`.",
            "Agency unselected `opt-in performance suggestions`.",
            "Agency selected `opt-out unselect all email notifications`.",
            "Agency linked their individual MCC.",
            "Agency was suggested to user for affiliation.",
            "Agency ignored suggested agencies and begin searching.",
            "Agency picked a suggested agency.",
            "Agency searched for agencies.",
            "Agency picked a searched agency.",
            "Agency dismissed affiliation widget.",
            "Agency clicked on the download link for downloading content.",
            "Agency user is maklingg progress viewing a content item.",
            "Agency clicked `cancel Terms Of Service` button.",
            "Advertiser entered website in contact form."
          ],
          "enum": [
            "EVENT_ACTION_UNSPECIFIED",
            "SMB_CLICKED_FIND_A_PARTNER_BUTTON_BOTTOM",
            "SMB_CLICKED_FIND_A_PARTNER_BUTTON_TOP",
            "AGENCY_CLICKED_JOIN_NOW_BUTTON_BOTTOM",
            "AGENCY_CLICKED_JOIN_NOW_BUTTON_TOP",
            "SMB_CANCELED_PARTNER_CONTACT_FORM",
            "SMB_CLICKED_CONTACT_A_PARTNER",
            "SMB_COMPLETED_PARTNER_CONTACT_FORM",
            "SMB_ENTERED_EMAIL_IN_CONTACT_PARTNER_FORM",
            "SMB_ENTERED_NAME_IN_CONTACT_PARTNER_FORM",
            "SMB_ENTERED_PHONE_IN_CONTACT_PARTNER_FORM",
            "SMB_FAILED_RECAPTCHA_IN_CONTACT_PARTNER_FORM",
            "PARTNER_VIEWED_BY_SMB",
            "SMB_CANCELED_PARTNER_CONTACT_FORM_ON_GPS",
            "SMB_CHANGED_A_SEARCH_PARAMETER_TOP",
            "SMB_CLICKED_CONTACT_A_PARTNER_ON_GPS",
            "SMB_CLICKED_SHOW_MORE_PARTNERS_BUTTON_BOTTOM",
            "SMB_COMPLETED_PARTNER_CONTACT_FORM_ON_GPS",
            "SMB_NO_PARTNERS_AVAILABLE_WITH_SEARCH_CRITERIA",
            "SMB_PERFORMED_SEARCH_ON_GPS",
            "SMB_VIEWED_A_PARTNER_ON_GPS",
            "SMB_CANCELED_PARTNER_CONTACT_FORM_ON_PROFILE_PAGE",
            "SMB_CLICKED_CONTACT_A_PARTNER_ON_PROFILE_PAGE",
            "SMB_CLICKED_PARTNER_WEBSITE",
            "SMB_COMPLETED_PARTNER_CONTACT_FORM_ON_PROFILE_PAGE",
            "SMB_VIEWED_A_PARTNER_PROFILE",
            "AGENCY_CLICKED_ACCEPT_TOS_BUTTON",
            "AGENCY_CHANGED_TOS_COUNTRY",
            "AGENCY_ADDED_ADDRESS_IN_MY_PROFILE_PORTAL",
            "AGENCY_ADDED_PHONE_NUMBER_IN_MY_PROFILE_PORTAL",
            "AGENCY_CHANGED_PRIMARY_ACCOUNT_ASSOCIATION",
            "AGENCY_CHANGED_PRIMARY_COUNTRY_ASSOCIATION",
            "AGENCY_CLICKED_AFFILIATE_BUTTON_IN_MY_PROFILE_IN_PORTAL",
            "AGENCY_CLICKED_GIVE_EDIT_ACCESS_IN_MY_PROFILE_PORTAL",
            "AGENCY_CLICKED_LOG_OUT_IN_MY_PROFILE_PORTAL",
            "AGENCY_CLICKED_MY_PROFILE_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_SAVE_AND_CONTINUE_AT_BOT_OF_COMPLETE_PROFILE",
            "AGENCY_CLICKED_UNAFFILIATE_IN_MY_PROFILE_PORTAL",
            "AGENCY_FILLED_OUT_COMP_AFFILIATION_IN_MY_PROFILE_PORTAL",
            "AGENCY_SUCCESSFULLY_CONNECTED_WITH_COMPANY_IN_MY_PROFILE",
            "AGENCY_CLICKED_CREATE_MCC_IN_MY_PROFILE_PORTAL",
            "AGENCY_DIDNT_HAVE_AN_MCC_ASSOCIATED_ON_COMPLETE_PROFILE",
            "AGENCY_HAD_AN_MCC_ASSOCIATED_ON_COMPLETE_PROFILE",
            "AGENCY_ADDED_JOB_FUNCTION_IN_MY_PROFILE_PORTAL",
            "AGENCY_LOOKED_AT_JOB_FUNCTION_DROP_DOWN",
            "AGENCY_SELECTED_ACCOUNT_MANAGER_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_ACCOUNT_PLANNER_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_ANALYTICS_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_CREATIVE_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_MEDIA_BUYER_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_MEDIA_PLANNER_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_OTHER_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_PRODUCTION_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_SEO_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_SALES_REP_AS_JOB_FUNCTION",
            "AGENCY_SELECTED_SEARCH_SPECIALIST_AS_JOB_FUNCTION",
            "AGENCY_ADDED_CHANNELS_IN_MY_PROFILE_PORTAL",
            "AGENCY_LOOKED_AT_ADD_CHANNEL_DROP_DOWN",
            "AGENCY_SELECTED_CROSS_CHANNEL_FROM_ADD_CHANNEL",
            "AGENCY_SELECTED_DISPLAY_FROM_ADD_CHANNEL",
            "AGENCY_SELECTED_MOBILE_FROM_ADD_CHANNEL",
            "AGENCY_SELECTED_SEARCH_FROM_ADD_CHANNEL",
            "AGENCY_SELECTED_SOCIAL_FROM_ADD_CHANNEL",
            "AGENCY_SELECTED_TOOLS_FROM_ADD_CHANNEL",
            "AGENCY_SELECTED_YOUTUBE_FROM_ADD_CHANNEL",
            "AGENCY_ADDED_INDUSTRIES_IN_MY_PROFILE_PORTAL",
            "AGENCY_CHANGED_ADD_INDUSTRIES_DROP_DOWN",
            "AGENCY_ADDED_MARKETS_IN_MY_PROFILE_PORTAL",
            "AGENCY_CHANGED_ADD_MARKETS_DROP_DOWN",
            "AGENCY_CHECKED_RECIEVE_MAIL_PROMOTIONS_MYPROFILE",
            "AGENCY_CHECKED_RECIEVE_MAIL_PROMOTIONS_SIGNUP",
            "AGENCY_SELECTED_OPT_IN_BETA_TESTS_AND_MKT_RESEARCH",
            "AGENCY_SELECTED_OPT_IN_BETA_TESTS_IN_MY_PROFILE_PORTAL",
            "AGENCY_SELECTED_OPT_IN_NEWS_IN_MY_PROFILE_PORTAL",
            "AGENCY_SELECTED_OPT_IN_NEWS_INVITATIONS_AND_PROMOS",
            "AGENCY_SELECTED_OPT_IN_PERFORMANCE_SUG_IN_MY_PROFILE_PORTAL",
            "AGENCY_SELECTED_OPT_IN_PERFORMANCE_SUGGESTIONS",
            "AGENCY_SELECTED_OPT_IN_SELECT_ALL_EMAIL_NOTIFICATIONS",
            "AGENCY_SELECTED_SELECT_ALL_OPT_INS_IN_MY_PROFILE_PORTAL",
            "AGENCY_CLICKED_BACK_BUTTON_ON_CONNECT_WITH_COMPANY",
            "AGENCY_CLICKED_CONTINUE_TO_OVERVIEW_ON_CONNECT_WITH_COMPANY",
            "AGECNY_CLICKED_CREATE_MCC_CONNECT_WITH_COMPANY_NOT_FOUND",
            "AGECNY_CLICKED_GIVE_EDIT_ACCESS_CONNECT_WITH_COMPANY_NOT_FOUND",
            "AGECNY_CLICKED_LOG_OUT_CONNECT_WITH_COMPANY_NOT_FOUND",
            "AGENCY_CLICKED_SKIP_FOR_NOW_ON_CONNECT_WITH_COMPANY_PAGE",
            "AGENCY_CLOSED_CONNECTED_TO_COMPANY_X_BUTTON_WRONG_COMPANY",
            "AGENCY_COMPLETED_FIELD_CONNECT_WITH_COMPANY",
            "AGECNY_FOUND_COMPANY_TO_CONNECT_WITH",
            "AGENCY_SUCCESSFULLY_CREATED_COMPANY",
            "AGENCY_ADDED_NEW_COMPANY_LOCATION",
            "AGENCY_CLICKED_COMMUNITY_JOIN_NOW_LINK_IN_PORTAL_NOTIFICATIONS",
            "AGENCY_CLICKED_CONNECT_TO_COMPANY_LINK_IN_PORTAL_NOTIFICATIONS",
            "AGENCY_CLICKED_GET_CERTIFIED_LINK_IN_PORTAL_NOTIFICATIONS",
            "AGENCY_CLICKED_GET_VIDEO_ADS_CERTIFIED_LINK_IN_PORTAL_NOTIFICATIONS",
            "AGENCY_CLICKED_LINK_TO_MCC_LINK_IN_PORTAL_NOTIFICATIONS",
            "AGENCY_CLICKED_INSIGHT_CONTENT_IN_PORTAL",
            "AGENCY_CLICKED_INSIGHTS_VIEW_NOW_PITCH_DECKS_IN_PORTAL",
            "AGENCY_CLICKED_INSIGHTS_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_INSIGHTS_UPLOAD_CONTENT",
            "AGENCY_CLICKED_INSIGHTS_VIEWED_DEPRECATED",
            "AGENCY_CLICKED_COMMUNITY_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_JOIN_COMMUNITY_BUTTON_COMMUNITY_PORTAL",
            "AGENCY_CLICKED_CERTIFICATIONS_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_CERTIFICATIONS_PRODUCT_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_PARTNER_STATUS_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_PARTNER_STATUS_PRODUCT_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_OFFERS_LEFT_NAV_IN_PORTAL",
            "AGENCY_CLICKED_SEND_BUTTON_ON_OFFERS_PAGE",
            "AGENCY_CLICKED_EXAM_DETAILS_ON_CERT_ADWORDS_PAGE",
            "AGENCY_CLICKED_SEE_EXAMS_CERTIFICATION_MAIN_PAGE",
            "AGENCY_CLICKED_TAKE_EXAM_ON_CERT_EXAM_PAGE",
            "AGENCY_OPENED_LAST_ADMIN_DIALOG",
            "AGENCY_OPENED_DIALOG_WITH_NO_USERS",
            "AGENCY_PROMOTED_USER_TO_ADMIN",
            "AGENCY_UNAFFILIATED",
            "AGENCY_CHANGED_ROLES",
            "SMB_CLICKED_COMPANY_NAME_LINK_TO_PROFILE",
            "SMB_VIEWED_ADWORDS_CERTIFICATE",
            "SMB_VIEWED_ADWORDS_SEARCH_CERTIFICATE",
            "SMB_VIEWED_ADWORDS_DISPLAY_CERTIFICATE",
            "SMB_CLICKED_ADWORDS_CERTIFICATE_HELP_ICON",
            "SMB_VIEWED_ANALYTICS_CERTIFICATE",
            "SMB_VIEWED_DOUBLECLICK_CERTIFICATE",
            "SMB_VIEWED_MOBILE_SITES_CERTIFICATE",
            "SMB_VIEWED_VIDEO_ADS_CERTIFICATE",
            "SMB_VIEWED_SHOPPING_CERTIFICATE",
            "SMB_CLICKED_VIDEO_ADS_CERTIFICATE_HELP_ICON",
            "SMB_VIEWED_DIGITAL_SALES_CERTIFICATE",
            "CLICKED_HELP_AT_BOTTOM",
            "CLICKED_HELP_AT_TOP",
            "CLIENT_ERROR",
            "AGENCY_CLICKED_LEFT_NAV_STORIES",
            "CLICKED",
            "SMB_VIEWED_MOBILE_CERTIFICATE",
            "AGENCY_FAILED_COMPANY_VERIFICATION",
            "VISITED_LANDING",
            "VISITED_GPS",
            "VISITED_AGENCY_PORTAL",
            "CANCELLED_INDIVIDUAL_SIGN_UP",
            "CANCELLED_COMPANY_SIGN_UP",
            "AGENCY_CLICKED_SIGN_IN_BUTTON_TOP",
            "AGENCY_CLICKED_SAVE_AND_CONTINUE_AT_BOT_OF_INCOMPLETE_PROFILE",
            "AGENCY_UNSELECTED_OPT_IN_NEWS_INVITATIONS_AND_PROMOS",
            "AGENCY_UNSELECTED_OPT_IN_BETA_TESTS_AND_MKT_RESEARCH",
            "AGENCY_UNSELECTED_OPT_IN_PERFORMANCE_SUGGESTIONS",
            "AGENCY_SELECTED_OPT_OUT_UNSELECT_ALL_EMAIL_NOTIFICATIONS",
            "AGENCY_LINKED_INDIVIDUAL_MCC",
            "AGENCY_SUGGESTED_TO_USER",
            "AGENCY_IGNORED_SUGGESTED_AGENCIES_AND_SEARCHED",
            "AGENCY_PICKED_SUGGESTED_AGENCY",
            "AGENCY_SEARCHED_FOR_AGENCIES",
            "AGENCY_PICKED_SEARCHED_AGENCY",
            "AGENCY_DISMISSED_AFFILIATION_WIDGET",
            "AGENCY_CLICKED_INSIGHTS_DOWNLOAD_CONTENT",
            "AGENCY_PROGRESS_INSIGHTS_VIEW_CONTENT",
            "AGENCY_CLICKED_CANCEL_ACCEPT_TOS_BUTTON",
            "SMB_ENTERED_WEBSITE_IN_CONTACT_PARTNER_FORM"
          ]
        },
        "requestMetadata": {
          "description": "Current request metadata.",
          "$ref": "RequestMetadata"
        },
        "url": {
          "description": "The URL where the event occurred.",
          "type": "string"
        },
        "eventDatas": {
          "description": "List of event data for the event.",
          "items": {
            "$ref": "EventData"
          },
          "type": "array"
        },
        "eventScope": {
          "enum": [
            "EVENT_SCOPE_UNSPECIFIED",
            "VISITOR",
            "SESSION",
            "PAGE"
          ],
          "description": "The scope of the event.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Based on visitor.",
            "Based on session.",
            "Based on page visit."
          ]
        }
      },
      "id": "LogUserEventRequest"
    },
    "UserOverrides": {
      "description": "Values to use instead of the user's respective defaults. These are only\nhonored by whitelisted products.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Logged-in user ID to impersonate instead of the user's ID.",
          "type": "string"
        },
        "ipAddress": {
          "description": "IP address to use instead of the user's geo-located IP address.",
          "type": "string"
        }
      },
      "id": "UserOverrides"
    },
    "AnalyticsDataPoint": {
      "id": "AnalyticsDataPoint",
      "description": "Details of the analytics events for a `Company` within a single day.",
      "type": "object",
      "properties": {
        "eventLocations": {
          "items": {
            "$ref": "LatLng"
          },
          "type": "array",
          "description": "Location information of where these events occurred."
        },
        "eventCount": {
          "format": "int32",
          "description": "Number of times the type of event occurred.\nMeaning depends on context (e.g. profile views, contacts, etc.).",
          "type": "integer"
        }
      }
    },
    "Analytics": {
      "description": "Analytics data for a `Company` within a single day.",
      "type": "object",
      "properties": {
        "contacts": {
          "description": "Instances of users contacting the `Company`\non the specified date.",
          "$ref": "AnalyticsDataPoint"
        },
        "searchViews": {
          "description": "Instances of users seeing the `Company` in Google Partners Search results\non the specified date.",
          "$ref": "AnalyticsDataPoint"
        },
        "profileViews": {
          "description": "Instances of users viewing the `Company` profile\non the specified date.",
          "$ref": "AnalyticsDataPoint"
        },
        "eventDate": {
          "$ref": "Date",
          "description": "Date on which these events occurred."
        }
      },
      "id": "Analytics"
    },
    "AdWordsManagerAccountInfo": {
      "description": "Information about a particular AdWords Manager Account.\nRead more at https://support.google.com/adwords/answer/6139186",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "The AdWords Manager Account id.",
          "type": "string"
        },
        "customerName": {
          "description": "Name of the customer this account represents.",
          "type": "string"
        }
      },
      "id": "AdWordsManagerAccountInfo"
    },
    "PublicProfile": {
      "properties": {
        "profileImage": {
          "description": "The URL to the main profile image of the public profile.",
          "type": "string"
        },
        "displayImageUrl": {
          "type": "string",
          "description": "The URL to the main display image of the public profile. Being deprecated."
        },
        "displayName": {
          "description": "The display name of the public profile.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the public profile.",
          "type": "string"
        },
        "id": {
          "description": "The ID which can be used to retrieve more details about the public profile.",
          "type": "string"
        }
      },
      "id": "PublicProfile",
      "description": "Basic information from a public profile.",
      "type": "object"
    },
    "ResponseMetadata": {
      "properties": {
        "debugInfo": {
          "description": "Debug information about this request.",
          "$ref": "DebugInfo"
        }
      },
      "id": "ResponseMetadata",
      "description": "Common data that is in each API response.",
      "type": "object"
    },
    "RecaptchaChallenge": {
      "id": "RecaptchaChallenge",
      "description": "\u003ca href=\"https://www.google.com/recaptcha/\"\u003ereCaptcha\u003c/a\u003e challenge info.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the reCaptcha challenge."
        },
        "response": {
          "type": "string",
          "description": "The response to the reCaptcha challenge."
        }
      }
    },
    "AvailableOffer": {
      "description": "Available Offers to be distributed.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the offer.",
          "type": "string"
        },
        "offerLevel": {
          "enum": [
            "OFFER_LEVEL_UNSPECIFIED",
            "OFFER_LEVEL_DENY_PROBLEM",
            "OFFER_LEVEL_DENY_CONTRACT",
            "OFFER_LEVEL_MANUAL",
            "OFFER_LEVEL_LIMIT_0",
            "OFFER_LEVEL_LIMIT_5",
            "OFFER_LEVEL_LIMIT_15",
            "OFFER_LEVEL_LIMIT_50"
          ],
          "description": "Level of this offer.",
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "Users/Agencies that have no offers because of a problem.",
            "Users/Agencies that have no offers due to contractural agreements.",
            "Users/Agencies that have a manually-configured limit.",
            "Some Agencies don't get any offers.",
            "Basic level gets 5 per month.",
            "Agencies with adequate AHI and spend get 15/month.",
            "Badged partners (even in grace) get 50 per month."
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the offer."
        },
        "qualifiedCustomersComplete": {
          "description": "Whether or not the list of qualified customers is definitely complete.",
          "type": "boolean"
        },
        "id": {
          "format": "int64",
          "description": "ID of this offer.",
          "type": "string"
        },
        "countryOfferInfos": {
          "description": "Offer info by country.",
          "items": {
            "$ref": "CountryOfferInfo"
          },
          "type": "array"
        },
        "offerType": {
          "description": "Type of offer.",
          "type": "string",
          "enumDescriptions": [
            "Unset.",
            "AdWords spend X get Y.",
            "Youtube video.",
            "Spend Match up to Y."
          ],
          "enum": [
            "OFFER_TYPE_UNSPECIFIED",
            "OFFER_TYPE_SPEND_X_GET_Y",
            "OFFER_TYPE_VIDEO",
            "OFFER_TYPE_SPEND_MATCH"
          ]
        },
        "maxAccountAge": {
          "format": "int32",
          "description": "The maximum age of an account [in days] to be eligible.",
          "type": "integer"
        },
        "qualifiedCustomer": {
          "description": "Customers who qualify for this offer.",
          "items": {
            "$ref": "OfferCustomer"
          },
          "type": "array"
        },
        "terms": {
          "type": "string",
          "description": "Terms of the offer."
        },
        "showSpecialOfferCopy": {
          "description": "Should special text be shown on the offers page.",
          "type": "boolean"
        },
        "available": {
          "format": "int32",
          "description": "The number of codes for this offer that are available for distribution.",
          "type": "integer"
        }
      },
      "id": "AvailableOffer"
    },
    "LatLng": {
      "description": "An object representing a latitude/longitude pair. This is expressed as a pair\nof doubles representing degrees latitude and degrees longitude. Unless\nspecified otherwise, this must conform to the\n\u003ca href=\"http://www.unoosa.org/pdf/icg/2012/template/WGS_84.pdf\"\u003eWGS84\nstandard\u003c/a\u003e. Values must be within normalized ranges.\n\nExample of normalization code in Python:\n\n    def NormalizeLongitude(longitude):\n      \"\"\"Wraps decimal degrees longitude to [-180.0, 180.0].\"\"\"\n      q, r = divmod(longitude, 360.0)\n      if r \u003e 180.0 or (r == 180.0 and q \u003c= -1.0):\n        return r - 360.0\n      return r\n\n    def NormalizeLatLng(latitude, longitude):\n      \"\"\"Wraps decimal degrees latitude and longitude to\n      [-90.0, 90.0] and [-180.0, 180.0], respectively.\"\"\"\n      r = latitude % 360.0\n      if r \u003c= 90.0:\n        return r, NormalizeLongitude(longitude)\n      elif r \u003e= 270.0:\n        return r - 360, NormalizeLongitude(longitude)\n      else:\n        return 180 - r, NormalizeLongitude(longitude + 180.0)\n\n    assert 180.0 == NormalizeLongitude(180.0)\n    assert -180.0 == NormalizeLongitude(-180.0)\n    assert -179.0 == NormalizeLongitude(181.0)\n    assert (0.0, 0.0) == NormalizeLatLng(360.0, 0.0)\n    assert (0.0, 0.0) == NormalizeLatLng(-360.0, 0.0)\n    assert (85.0, 180.0) == NormalizeLatLng(95.0, 0.0)\n    assert (-85.0, -170.0) == NormalizeLatLng(-95.0, 10.0)\n    assert (90.0, 10.0) == NormalizeLatLng(90.0, 10.0)\n    assert (-90.0, -10.0) == NormalizeLatLng(-90.0, -10.0)\n    assert (0.0, -170.0) == NormalizeLatLng(-180.0, 10.0)\n    assert (0.0, -170.0) == NormalizeLatLng(180.0, 10.0)\n    assert (-90.0, 10.0) == NormalizeLatLng(270.0, 10.0)\n    assert (90.0, 10.0) == NormalizeLatLng(-270.0, 10.0)",
      "type": "object",
      "properties": {
        "latitude": {
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number"
        }
      },
      "id": "LatLng"
    },
    "Money": {
      "type": "object",
      "properties": {
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "currencyCode": {
          "description": "The 3-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "id": "Money",
      "description": "Represents an amount of money with its currency type."
    },
    "AnalyticsSummary": {
      "description": "Analytics aggregated data for a `Company` for a given date range.",
      "type": "object",
      "properties": {
        "searchViewsCount": {
          "format": "int32",
          "description": "Aggregated number of times users saw the `Company`\nin Google Partners Search results for given date range.",
          "type": "integer"
        },
        "contactsCount": {
          "format": "int32",
          "description": "Aggregated number of times users contacted the `Company`\nfor given date range.",
          "type": "integer"
        },
        "profileViewsCount": {
          "format": "int32",
          "description": "Aggregated number of profile views for the `Company` for given date range.",
          "type": "integer"
        }
      },
      "id": "AnalyticsSummary"
    },
    "LogMessageRequest": {
      "description": "Request message for\nLogClientMessage.",
      "type": "object",
      "properties": {
        "details": {
          "description": "Details about the client message.",
          "type": "string"
        },
        "clientInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of client info, such as URL, browser navigator, browser platform, etc."
        },
        "requestMetadata": {
          "$ref": "RequestMetadata",
          "description": "Current request metadata."
        },
        "level": {
          "enum": [
            "MESSAGE_LEVEL_UNSPECIFIED",
            "ML_FINE",
            "ML_INFO",
            "ML_WARNING",
            "ML_SEVERE"
          ],
          "description": "Message level of client message.",
          "type": "string",
          "enumDescriptions": [
            "Unchosen.",
            "Message level for tracing information.",
            "Message level for informational messages.",
            "Message level for potential problems.",
            "Message level for serious failures."
          ]
        }
      },
      "id": "LogMessageRequest"
    },
    "Lead": {
      "description": "A lead resource that represents an advertiser contact for a `Company`. These\nare usually generated via Google Partner Search (the advertiser portal).",
      "type": "object",
      "properties": {
        "adwordsCustomerId": {
          "format": "int64",
          "description": "The AdWords Customer ID of the lead.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of lead source."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp of when this lead was created.",
          "type": "string"
        },
        "marketingOptIn": {
          "description": "Whether or not the lead signed up for marketing emails",
[...]
