# Actual layer caching is impossible due to .git, but
# that must be included for provenance reasons.  These ignores
# are strictly for hygenic build.
*
!/*.go
!/go.*
!/cmd/*
!/docker/entrypoint.sh
!/internal/*
!/helpers/*
!/VERSION
!/.git/
