---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:V0atokOdklBzQp3ZVD4bK3BVEr9OxkmPis8Ul3vxV5o=
      X-Ms-Date:
      - Fri, 21 Apr 2017 07:03:30 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-153storagequeuesuitetestsetpermissionsalltruenotimeout
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2051-12-20T21:55:06Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:td2Y9/rBg/uQpGjNS6L4Bhp3Ks25YO+NSvC8M7XPEd4=
      X-Ms-Date:
      - Fri, 21 Apr 2017 07:03:30 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.queue.core.windows.net/queue-153storagequeuesuitetestsetpermissionsalltruenotimeout?comp=acl
    method: PUT
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
[...]
