---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Prefer:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/%28retry%29?timeout=30
    method: DELETE
  response:
    body: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
      specified resource does not exist.\nRequestId:26d67dd8-0002-0096-0fff-ba608d000000\nTime:2017-04-22T00:30:49.2979671Z"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Version:
      - 2016-05-31
    status: 404 The specified resource does not exist.
    code: 404
[...]
