---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"TableName":"table29storageentitysuitetestdel"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:TIhEod8E8k9KRsCo/MH+I2wy3r17uZ+MLDvUMto9/Y4=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:17 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table29storageentitysuitetestdel')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table29storageentitysuitetestdel')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: '{"PartitionKey":"pkey1","RowKey":"rowkey1"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:bGwrhQWrDakoX9OemzzPI4S5a6umnPcnIjvs4nVMQHM=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:17 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table29storageentitysuitetestdel/@Element","odata.type":"golangrocksonazure.table29storageentitysuitetestdel","odata.id":"https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel(PartitionKey=''pkey1'',RowKey=''rowkey1'')","odata.etag":"W/\"datetime''2017-04-05T22%3A33%3A17.7938773Z''\"","odata.editLink":"table29storageentitysuitetestdel(PartitionKey=''pkey1'',RowKey=''rowkey1'')","PartitionKey":"pkey1","RowKey":"rowkey1","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-04-05T22:33:17.7938773Z"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2017-04-05T22%3A33%3A17.7938773Z'"
      Location:
      - https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel(PartitionKey='pkey1',RowKey='rowkey1')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:x+4ONgglyIS5RSax94v2q8fsbQTedePs7wWVZWISATk=
      If-Match:
      - W/"datetime'2017-04-05T22%3A33%3A17.7938773Z'"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:17 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel%28PartitionKey=%27pkey1%27,%20RowKey=%27rowkey1%27%29
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:daT23oPoAmFDAKMb+I/blIAiR7Vm8MiUa8qiSOXp7Os=
      If-Match:
      - GolangRocksOnAzure
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:18 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table29storageentitysuitetestdel%28PartitionKey=%27pkey2%27,%20RowKey=%27rowkey2%27%29
    method: DELETE
  response:
    body: '{"odata.error":{"code":"InvalidInput","message":{"lang":"en-US","value":"The
      etag value ''GolangRocksOnAzure'' specified in one of the request headers is
      not valid. Please make sure only one etag value is specified and is valid.\nRequestId:ab33b580-0002-0064-4d5c-aeb219000000\nTime:2017-04-05T22:33:18.0930922Z"}}}'
    headers:
      Content-Type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - 2016-05-31
    status: 400 Bad Request
    code: 400
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:BsZecuKMss+n2Nh/d+jY7x+ZBaqT5h0ncuEKVU3Dk7U=
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:18 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table29storageentitysuitetestdel%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
