---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"TableName":"table28storageentitysuitetestmer"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:UApC6hOOGveWssOXfwZxX0XEiTH43zQgc7hFaxaEnHI=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:19 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table28storageentitysuitetestmer')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table28storageentitysuitetestmer')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: '{"Country":"Mexico","MalePoet":"Nezahualcoyotl","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:waQ65Pa/FzCzNF8xq6tCL3Hwbyfkmnr7Sz+9cc7b7bU=
      Content-Type:
      - application/json
      Prefer:
      - return-content
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:19 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table28storageentitysuitetestmer
    method: POST
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table28storageentitysuitetestmer/@Element","odata.type":"golangrocksonazure.table28storageentitysuitetestmer","odata.id":"https://golangrocksonazure.table.core.windows.net/table28storageentitysuitetestmer(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","odata.etag":"W/\"datetime''2017-04-05T22%3A33%3A19.5431339Z''\"","odata.editLink":"table28storageentitysuitetestmer(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","PartitionKey":"mypartitionkey","RowKey":"myrowkey","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-04-05T22:33:19.5431339Z","Country":"Mexico","MalePoet":"Nezahualcoyotl"}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2017-04-05T22%3A33%3A19.5431339Z'"
      Location:
      - https://golangrocksonazure.table.core.windows.net/table28storageentitysuitetestmer(PartitionKey='mypartitionkey',RowKey='myrowkey')
      Preference-Applied:
      - return-content
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: '{"FemalePoet":"Sor Juana Ines de la Cruz","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:QKcxsU9OKUPDLmjVXAtOlcB+D5aaOfwXc70VX2nKBV8=
      Content-Type:
      - application/json
      If-Match:
      - W/"datetime'2017-04-05T22%3A33%3A19.5431339Z'"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:19 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table28storageentitysuitetestmer%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
    method: MERGE
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2017-04-05T22%3A33%3A19.5441339Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: '{"FemalePoet":"Sor Juana Ines de la Cruz","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:QKcxsU9OKUPDLmjVXAtOlcB+D5aaOfwXc70VX2nKBV8=
      Content-Type:
      - application/json
      If-Match:
      - W/"datetime''2017-04-01T01%3A07%3A23.8881885Z''"
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:19 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table28storageentitysuitetestmer%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
    method: MERGE
  response:
    body: '{"odata.error":{"code":"ConditionNotMet","message":{"lang":"en-US","value":"The
      condition specified using HTTP conditional header(s) is not met.\nRequestId:ab33b717-0002-0064-585c-aeb219000000\nTime:2017-04-05T22:33:19.7592892Z"}}}'
    headers:
      Content-Type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - 2016-05-31
    status: 412 Precondition Failed
    code: 412
- request:
    body: '{"FemalePainter":"Frida Kahlo","MalePainter":"Diego Rivera","PartitionKey":"mypartitionkey","RowKey":"myrowkey"}'
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:QKcxsU9OKUPDLmjVXAtOlcB+D5aaOfwXc70VX2nKBV8=
      Content-Type:
      - application/json
      If-Match:
      - '*'
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:19 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table28storageentitysuitetestmer%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
    method: MERGE
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2017-04-05T22%3A33%3A19.5451339Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:uNlLRSlYVGkKM6TOWgzB6ORWehbUnExnfVVr/QwGH08=
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:19 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table28storageentitysuitetestmer%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
