{
  "revision": "20180117",
  "documentationLink": "https://developers.google.com/slides/",
  "id": "slides:v1",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "UpdateImagePropertiesRequest": {
      "description": "Update the properties of an Image.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "The fields that should be updated.\n\nAt least one field must be specified. The root `imageProperties` is\nimplied and should not be specified. A single `\"*\"` can be used as\nshort-hand for listing every field.\n\nFor example to update the image outline color, set `fields` to\n`\"outline.outlineFill.solidFill.color\"`.\n\nTo reset a property to its default value, include its field name in the\nfield mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "imageProperties": {
          "$ref": "ImageProperties",
          "description": "The image properties to update."
        },
        "objectId": {
          "description": "The object ID of the image the updates are applied to.",
          "type": "string"
        }
      },
      "id": "UpdateImagePropertiesRequest"
    },
    "ParagraphStyle": {
      "id": "ParagraphStyle",
      "description": "Styles that apply to a whole paragraph.\n\nIf this text is contained in a shape with a parent placeholder, then these paragraph styles may be\ninherited from the parent. Which paragraph styles are inherited depend on the\nnesting level of lists:\n\n* A paragraph not in a list will inherit its paragraph style from the\n  paragraph at the 0 nesting level of the list inside the parent placeholder.\n* A paragraph in a list will inherit its paragraph style from the paragraph\n  at its corresponding nesting level of the list inside the parent\n  placeholder.\n\nInherited paragraph styles are represented as unset fields in this message.",
      "type": "object",
      "properties": {
        "spaceBelow": {
          "$ref": "Dimension",
          "description": "The amount of extra space above the paragraph. If unset, the value is\ninherited from the parent."
        },
        "direction": {
          "description": "The text direction of this paragraph. If unset, the value defaults to\nLEFT_TO_RIGHT since\ntext direction is not inherited.",
          "type": "string",
          "enumDescriptions": [
            "The text direction is inherited from the parent.",
            "The text goes from left to right.",
            "The text goes from right to left."
          ],
          "enum": [
            "TEXT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ]
        },
        "indentEnd": {
          "$ref": "Dimension",
          "description": "The amount indentation for the paragraph on the side that corresponds to\nthe end of the text, based on the current text direction. If unset, the\nvalue is inherited from the parent."
        },
        "spacingMode": {
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ],
          "description": "The spacing mode for the paragraph.",
          "type": "string",
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ]
        },
        "indentStart": {
          "$ref": "Dimension",
          "description": "The amount indentation for the paragraph on the side that corresponds to\nthe start of the text, based on the current text direction. If unset, the\nvalue is inherited from the parent."
        },
        "spaceAbove": {
          "$ref": "Dimension",
          "description": "The amount of extra space above the paragraph. If unset, the value is\ninherited from the parent."
        },
        "indentFirstLine": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the start of the first line of the paragraph.\nIf unset, the value is inherited from the parent."
        },
        "lineSpacing": {
          "description": "The amount of space between lines, as a percentage of normal, where normal\nis represented as 100.0. If unset, the value is inherited from the parent.",
          "format": "float",
          "type": "number"
        },
        "alignment": {
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for\nLTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for\nLTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ],
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ],
          "description": "The text alignment for this paragraph.",
          "type": "string"
        }
      }
    },
    "UpdateTableRowPropertiesRequest": {
      "description": "Updates the properties of a Table row.",
      "type": "object",
      "properties": {
        "rowIndices": {
          "description": "The list of zero-based indices specifying which rows to update. If no\nindices are provided, all rows in the table will be updated.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "fields": {
          "description": "The fields that should be updated.\n\nAt least one field must be specified. The root `tableRowProperties` is\nimplied and should not be specified. A single `\"*\"` can be used as\nshort-hand for listing every field.\n\nFor example to update the minimum row height, set `fields` to\n`\"min_row_height\"`.\n\nIf '\"min_row_height\"' is included in the field mask but the property is\nleft unset, the minimum row height will default to 0.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "tableRowProperties": {
          "$ref": "TableRowProperties",
          "description": "The table row properties to update."
        },
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        }
      },
      "id": "UpdateTableRowPropertiesRequest"
    },
    "ReplaceAllShapesWithSheetsChartResponse": {
      "description": "The result of replacing shapes with a Google Sheets chart.",
      "type": "object",
      "properties": {
        "occurrencesChanged": {
          "description": "The number of shapes replaced with charts.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ReplaceAllShapesWithSheetsChartResponse"
    },
    "TableCellProperties": {
      "properties": {
        "tableCellBackgroundFill": {
          "$ref": "TableCellBackgroundFill",
          "description": "The background fill of the table cell. The default fill matches the fill\nfor newly created table cells in the Slides editor."
        },
        "contentAlignment": {
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "description": "The alignment of the content in the table cell. The default alignment\nmatches the alignment for newly created table cells in the Slides editor.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from\nthe parent if it exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder.\nCorresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content\nholder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content\nholder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ]
        }
      },
      "id": "TableCellProperties",
      "description": "The properties of the TableCell.",
      "type": "object"
    },
    "Outline": {
      "description": "The outline of a PageElement.\n\nIf these fields are unset, they may be inherited from a parent placeholder\nif it exists. If there is no parent, the fields will default to the value\nused for new page elements created in the Slides editor, which may depend on\nthe page element kind.",
      "type": "object",
      "properties": {
        "weight": {
          "description": "The thickness of the outline.",
          "$ref": "Dimension"
        },
        "dashStyle": {
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'.\nThis is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'.",
            "Alternating dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal\nvalue 'dashDot'.",
            "Line with large dashes. Corresponds to ECMA-376 ST_PresetLineDashVal\nvalue 'lgDash'.",
            "Alternating large dashes and dots. Corresponds to ECMA-376\nST_PresetLineDashVal value 'lgDashDot'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH",
            "DASH_DOT",
            "LONG_DASH",
            "LONG_DASH_DOT"
          ],
          "description": "The dash style of the outline.",
          "type": "string"
        },
        "propertyState": {
          "type": "string",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding\nproperty when rendered on a page. If the element is a placeholder shape as\ndetermined by the placeholder\nfield, and it inherits from a placeholder shape, the corresponding field\nmay be unset, meaning that the property value is inherited from a parent\nplaceholder. If the element does not inherit, then the field will contain\nthe rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the\ncorresponding property when rendered on a page. However, the field may\nstill be set so it can be inherited by child shapes. To remove a property\nfrom a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of\ncorresponding `property_state` field on the parent shape. Elements that do\nnot inherit will never have an INHERIT property state."
          ],
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "description": "The outline property state.\n\nUpdating the outline on a page element will implicitly update this field\nto `RENDERED`, unless another value is specified in the same request. To\nhave no outline on a page element, set this field to `NOT_RENDERED`. In\nthis case, any other outline fields set in the same request will be\nignored."
        },
        "outlineFill": {
          "$ref": "OutlineFill",
          "description": "The fill of the outline."
        }
      },
      "id": "Outline"
    },
    "RefreshSheetsChartRequest": {
      "description": "Refreshes an embedded Google Sheets chart by replacing it with the latest\nversion of the chart from Google Sheets.\n\nNOTE: Refreshing charts requires  at least one of the spreadsheets.readonly,\nspreadsheets, drive.readonly, or drive OAuth scopes.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the chart to refresh.",
          "type": "string"
        }
      },
      "id": "RefreshSheetsChartRequest"
    },
    "NotesProperties": {
      "properties": {
        "speakerNotesObjectId": {
          "description": "The object ID of the shape on this notes page that contains the speaker\nnotes for the corresponding slide.\nThe actual shape may not always exist on the notes page. Inserting text\nusing this object ID will automatically create the shape. In this case, the\nactual shape may have different object ID. The `GetPresentation` or\n`GetPage` action will always return the latest object ID.",
          "type": "string"
        }
      },
      "id": "NotesProperties",
      "description": "The properties of Page that are only\nrelevant for pages with page_type NOTES.",
      "type": "object"
    },
    "ShapeProperties": {
      "description": "The properties of a Shape.\n\nIf the shape is a placeholder shape as determined by the\nplaceholder field, then these\nproperties may be inherited from a parent placeholder shape.\nDetermining the rendered value of the property depends on the corresponding\nproperty_state field value.",
      "type": "object",
      "properties": {
        "outline": {
          "description": "The outline of the shape. If unset, the outline is inherited from a\nparent placeholder if it exists. If the shape has no parent, then the\ndefault outline depends on the shape type, matching the defaults for\nnew shapes created in the Slides editor.",
          "$ref": "Outline"
        },
        "shapeBackgroundFill": {
          "$ref": "ShapeBackgroundFill",
          "description": "The background fill of the shape. If unset, the background fill is\ninherited from a parent placeholder if it exists. If the shape has no\nparent, then the default background fill depends on the shape type,\nmatching the defaults for new shapes created in the Slides editor."
        },
        "shadow": {
          "description": "The shadow properties of the shape. If unset, the shadow is inherited from\na parent placeholder if it exists. If the shape has no parent, then the\ndefault shadow matches the defaults for new shapes created in the Slides\neditor. This property is read-only.",
          "$ref": "Shadow"
        },
        "contentAlignment": {
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "description": "The alignment of the content in the shape. If unspecified,\nthe alignment is inherited from a parent placeholder if it exists. If the\nshape has no parent, the default alignment matches the alignment for new\nshapes created in the Slides editor.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from\nthe parent if it exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder.\nCorresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content\nholder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content\nholder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ]
        },
        "link": {
          "description": "The hyperlink destination of the shape. If unset, there is no link. Links\nare not inherited from parent placeholders.",
          "$ref": "Link"
        }
      },
      "id": "ShapeProperties"
    },
    "TableColumnProperties": {
      "properties": {
        "columnWidth": {
          "$ref": "Dimension",
          "description": "Width of a column."
        }
      },
      "id": "TableColumnProperties",
      "description": "Properties of each column in a table.",
      "type": "object"
    },
    "TableRow": {
      "description": "Properties and contents of each row in a table.",
      "type": "object",
      "properties": {
        "tableRowProperties": {
          "description": "Properties of the row.",
          "$ref": "TableRowProperties"
        },
        "rowHeight": {
          "$ref": "Dimension",
          "description": "Height of a row."
        },
        "tableCells": {
          "description": "Properties and contents of each cell.\n\nCells that span multiple columns are represented only once with a\ncolumn_span greater\nthan 1. As a result, the length of this collection does not always match\nthe number of columns of the entire table.",
          "type": "array",
          "items": {
            "$ref": "TableCell"
          }
        }
      },
      "id": "TableRow"
    },
    "UpdateTableCellPropertiesRequest": {
      "description": "Update the properties of a TableCell.",
      "type": "object",
      "properties": {
        "tableCellProperties": {
          "$ref": "TableCellProperties",
          "description": "The table cell properties to update."
        },
        "fields": {
          "description": "The fields that should be updated.\n\nAt least one field must be specified. The root `tableCellProperties` is\nimplied and should not be specified. A single `\"*\"` can be used as\nshort-hand for listing every field.\n\nFor example to update the table cell background solid fill color, set\n`fields` to `\"tableCellBackgroundFill.solidFill.color\"`.\n\nTo reset a property to its default value, include its field name in the\nfield mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range representing the subset of the table to which the updates\nare applied. If a table range is not specified, the updates will apply to\nthe entire table."
        }
      },
      "id": "UpdateTableCellPropertiesRequest"
    },
    "CreateSlideRequest": {
      "type": "object",
      "properties": {
        "placeholderIdMappings": {
          "description": "An optional list of object ID mappings from the placeholder(s) on the layout to the placeholder(s)\nthat will be created on the new slide from that specified layout. Can only\nbe used when `slide_layout_reference` is specified.",
          "type": "array",
          "items": {
            "$ref": "LayoutPlaceholderIdMapping"
          }
        },
        "slideLayoutReference": {
          "$ref": "LayoutReference",
          "description": "Layout reference of the slide to be inserted, based on the *current\nmaster*, which is one of the following:\n\n- The master of the previous slide index.\n- The master of the first slide, if the insertion_index is zero.\n- The first master in the presentation, if there are no slides.\n\nIf the LayoutReference is not found in the current master, a 400 bad\nrequest error is returned.\n\nIf you don't specify a layout reference, then the new slide will use the\npredefined layout `BLANK`."
        },
        "objectId": {
          "description": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "insertionIndex": {
          "description": "The optional zero-based index indicating where to insert the slides.\n\nIf you don't specify an index, the new slide is created at the end.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "CreateSlideRequest",
      "description": "Creates a new slide."
    },
    "BatchUpdatePresentationRequest": {
      "properties": {
        "requests": {
          "description": "A list of updates to apply to the presentation.",
          "type": "array",
          "items": {
            "$ref": "Request"
          }
        },
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        }
      },
      "id": "BatchUpdatePresentationRequest",
      "description": "Request message for PresentationsService.BatchUpdatePresentation.",
      "type": "object"
    },
    "TableRowProperties": {
      "description": "Properties of each row in a table.",
      "type": "object",
      "properties": {
        "minRowHeight": {
          "$ref": "Dimension",
          "description": "Minimum height of the row. The row will be rendered in the Slides editor at\na height equal to or greater than this value in order to show all the text\nin the row's cell(s)."
        }
      },
      "id": "TableRowProperties"
    },
    "GroupObjectsResponse": {
      "properties": {
        "objectId": {
          "description": "The object ID of the created group.",
          "type": "string"
        }
      },
      "id": "GroupObjectsResponse",
      "description": "The result of grouping objects.",
      "type": "object"
    },
    "TextContent": {
      "description": "The general text content. The text must reside in a compatible shape (e.g.\ntext box or rectangle) or a table cell in a page.",
      "type": "object",
      "properties": {
        "lists": {
          "additionalProperties": {
            "$ref": "List"
          },
          "description": "The bulleted lists contained in this text, keyed by list ID.",
          "type": "object"
        },
        "textElements": {
          "description": "The text contents broken down into its component parts, including styling\ninformation. This property is read-only.",
          "type": "array",
          "items": {
            "$ref": "TextElement"
          }
        }
      },
      "id": "TextContent"
    },
    "TableBorderCell": {
      "properties": {
        "location": {
          "$ref": "TableCellLocation",
          "description": "The location of the border within the border table."
        },
        "tableBorderProperties": {
          "$ref": "TableBorderProperties",
          "description": "The border properties."
        }
      },
      "id": "TableBorderCell",
      "description": "The properties of each border cell.",
      "type": "object"
    },
    "TableBorderProperties": {
      "description": "The border styling properties of the\nTableBorderCell.",
      "type": "object",
      "properties": {
        "tableBorderFill": {
          "description": "The fill of the table border.",
          "$ref": "TableBorderFill"
        },
        "dashStyle": {
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'.\nThis is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'.",
            "Alternating dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal\nvalue 'dashDot'.",
            "Line with large dashes. Corresponds to ECMA-376 ST_PresetLineDashVal\nvalue 'lgDash'.",
            "Alternating large dashes and dots. Corresponds to ECMA-376\nST_PresetLineDashVal value 'lgDashDot'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH",
            "DASH_DOT",
            "LONG_DASH",
            "LONG_DASH_DOT"
          ],
          "description": "The dash style of the border.",
          "type": "string"
        },
        "weight": {
          "$ref": "Dimension",
          "description": "The thickness of the border."
        }
      },
      "id": "TableBorderProperties"
    },
    "CreateSheetsChartResponse": {
      "description": "The result of creating an embedded Google Sheets chart.",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created chart."
        }
      },
      "id": "CreateSheetsChartResponse"
    },
    "WriteControl": {
      "description": "Provides control over how write requests are executed.",
      "type": "object",
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the presentation required for the write request. If\nspecified and the `required_revision_id` doesn't exactly match the\npresentation's current `revision_id`, the request will not be processed and\nwill return a 400 bad request error.",
          "type": "string"
        }
      },
      "id": "WriteControl"
    },
    "DeleteParagraphBulletsRequest": {
      "properties": {
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The optional table cell location if the text to be modified is in a table\ncell. If present, the object_id must refer to a table."
        },
        "objectId": {
          "description": "The object ID of the shape or table containing the text to delete bullets\nfrom.",
          "type": "string"
        },
        "textRange": {
          "description": "The range of text to delete bullets from, based on TextElement indexes.",
          "$ref": "Range"
        }
      },
      "id": "DeleteParagraphBulletsRequest",
      "description": "Deletes bullets from all of the paragraphs that overlap with the given text\nindex range.\n\nThe nesting level of each paragraph will be visually preserved by adding\nindent to the start of the corresponding paragraph.",
      "type": "object"
    },
    "ParagraphMarker": {
      "description": "A TextElement kind that represents the beginning of a new paragraph.",
      "type": "object",
      "properties": {
        "style": {
          "$ref": "ParagraphStyle",
          "description": "The paragraph's style"
        },
        "bullet": {
          "description": "The bullet for this paragraph. If not present, the paragraph does not\nbelong to a list.",
          "$ref": "Bullet"
        }
      },
      "id": "ParagraphMarker"
    },
    "Thumbnail": {
      "description": "The thumbnail of a page.",
      "type": "object",
      "properties": {
        "contentUrl": {
          "description": "The content URL of the thumbnail image.\n\nThe URL to the image has a default lifetime of 30 minutes.\nThis URL is tagged with the account of the requester. Anyone with the URL\neffectively accesses the image as the original requester. Access to the\nimage may be lost if the presentation's sharing settings change.\nThe mime type of the thumbnail image is the same as specified in the\n`GetPageThumbnailRequest`.",
          "type": "string"
        },
        "width": {
          "description": "The positive width in pixels of the thumbnail image.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "description": "The positive height in pixels of the thumbnail image.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Thumbnail"
    },
    "InsertTableColumnsRequest": {
      "description": "Inserts columns into a table.\n\nOther columns in the table will be resized to fit the new column.",
      "type": "object",
      "properties": {
        "insertRight": {
          "description": "Whether to insert new columns to the right of the reference cell location.\n\n- `True`: insert to the right.\n- `False`: insert to the left.",
          "type": "boolean"
        },
        "tableObjectId": {
          "type": "string",
          "description": "The table to insert columns into."
        },
        "number": {
          "description": "The number of columns to be inserted. Maximum 20 per request.",
          "format": "int32",
          "type": "integer"
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which columns will be inserted.\n\nA new column will be inserted to the left (or right) of the column where\nthe reference cell is. If the reference cell is a merged cell, a new\ncolumn will be inserted to the left (or right) of the merged cell."
        }
      },
      "id": "InsertTableColumnsRequest"
    },
    "LayoutPlaceholderIdMapping": {
      "description": "The user-specified ID mapping for a placeholder that will be created on a\nslide from a specified layout.",
      "type": "object",
      "properties": {
        "layoutPlaceholder": {
          "$ref": "Placeholder",
          "description": "The placeholder on a layout that will be applied to a slide. Only type and index are needed. For example, a\npredefined `TITLE_AND_BODY` layout may usually have a TITLE placeholder\nwith index 0 and a BODY placeholder with index 0."
        },
        "layoutPlaceholderObjectId": {
          "type": "string",
          "description": "The object ID of the placeholder on a layout that will be applied\nto a slide."
        },
        "objectId": {
          "description": "A user-supplied object ID for the placeholder identified above that to be\ncreated onto a slide.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.",
          "type": "string"
        }
      },
      "id": "LayoutPlaceholderIdMapping"
    },
    "UpdateTableBorderPropertiesRequest": {
      "description": "Updates the properties of the table borders in a Table.",
      "type": "object",
      "properties": {
        "borderPosition": {
          "enumDescriptions": [
            "All borders in the range.",
            "Borders at the bottom of the range.",
            "Borders on the inside of the range.",
            "Horizontal borders on the inside of the range.",
            "Vertical borders on the inside of the range.",
            "Borders at the left of the range.",
            "Borders along the outside of the range.",
            "Borders at the right of the range.",
            "Borders at the top of the range."
          ],
          "enum": [
            "ALL",
            "BOTTOM",
            "INNER",
            "INNER_HORIZONTAL",
            "INNER_VERTICAL",
            "LEFT",
            "OUTER",
            "RIGHT",
            "TOP"
          ],
          "description": "The border position in the table range the updates should apply to. If a\nborder position is not specified, the updates will apply to all borders in\nthe table range.",
          "type": "string"
        },
        "fields": {
          "description": "The fields that should be updated.\n\nAt least one field must be specified. The root `tableBorderProperties` is\nimplied and should not be specified. A single `\"*\"` can be used as\nshort-hand for listing every field.\n\nFor example to update the table border solid fill color, set\n`fields` to `\"tableBorderFill.solidFill.color\"`.\n\nTo reset a property to its default value, include its field name in the\nfield mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range representing the subset of the table to which the updates\nare applied. If a table range is not specified, the updates will apply to\nthe entire table."
        },
        "tableBorderProperties": {
          "$ref": "TableBorderProperties",
          "description": "The table border properties to update."
        }
      },
      "id": "UpdateTableBorderPropertiesRequest"
    },
    "UpdateShapePropertiesRequest": {
      "description": "Update the properties of a Shape.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the shape the updates are applied to.",
          "type": "string"
        },
        "shapeProperties": {
          "$ref": "ShapeProperties",
          "description": "The shape properties to update."
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated.\n\nAt least one field must be specified. The root `shapeProperties` is\nimplied and should not be specified. A single `\"*\"` can be used as\nshort-hand for listing every field.\n\nFor example to update the shape background solid fill color, set `fields`\nto `\"shapeBackgroundFill.solidFill.color\"`.\n\nTo reset a property to its default value, include its field name in the\nfield mask but leave the field itself unset.",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateShapePropertiesRequest"
    },
    "WordArt": {
      "type": "object",
      "properties": {
        "renderedText": {
          "description": "The text rendered as word art.",
          "type": "string"
        }
      },
      "id": "WordArt",
      "description": "A PageElement kind representing\nword art."
    },
    "UpdateTableColumnPropertiesRequest": {
      "description": "Updates the properties of a Table column.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "The fields that should be updated.\n\nAt least one field must be specified. The root `tableColumnProperties` is\nimplied and should not be specified. A single `\"*\"` can be used as\nshort-hand for listing every field.\n\nFor example to update the column width, set `fields` to `\"column_width\"`.\n\nIf '\"column_width\"' is included in the field mask but the property is left\nunset, the column width will default to 406,400 EMU (32 points).",
          "format": "google-fieldmask",
          "type": "string"
        },
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "columnIndices": {
          "description": "The list of zero-based indices specifying which columns to update. If no\nindices are provided, all columns in the table will be updated.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "tableColumnProperties": {
          "$ref": "TableColumnProperties",
          "description": "The table column properties to update.\n\nIf the value of `table_column_properties#column_width` in the request is\nless than 406,400 EMU (32 points), a 400 bad request error is returned."
        }
      },
      "id": "UpdateTableColumnPropertiesRequest"
    },
    "Recolor": {
      "type": "object",
      "properties": {
        "recolorStops": {
          "description": "The recolor effect is represented by a gradient, which is a list of color\nstops.\n\nThe colors in the gradient will replace the corresponding colors at\nthe same position in the color palette and apply to the image. This\nproperty is read-only.",
          "type": "array",
          "items": {
            "$ref": "ColorStop"
          }
        },
        "name": {
          "enumDescriptions": [
            "No recolor effect. The default value.",
            "A recolor effect that lightens the image using the page's first available\ncolor from its color scheme.",
            "A recolor effect that lightens the image using the page's second\navailable color from its color scheme.",
            "A recolor effect that lightens the image using the page's third available\ncolor from its color scheme.",
            "A recolor effect that lightens the image using the page's forth available\ncolor from its color scheme.",
            "A recolor effect that lightens the image using the page's fifth available\ncolor from its color scheme.",
            "A recolor effect that lightens the image using the page's sixth available\ncolor from its color scheme.",
            "A recolor effect that lightens the image using the page's seventh\navailable color from its color scheme.e.",
            "A recolor effect that lightens the image using the page's eighth\navailable color from its color scheme.",
            "A recolor effect that lightens the image using the page's ninth available\ncolor from its color scheme.",
            "A recolor effect that lightens the image using the page's tenth available\ncolor from its color scheme.",
            "A recolor effect that darkens the image using the page's first available\ncolor from its color scheme.",
            "A recolor effect that darkens the image using the page's second available\ncolor from its color scheme.",
            "A recolor effect that darkens the image using the page's third available\ncolor from its color scheme.",
            "A recolor effect that darkens the image using the page's fourth available\ncolor from its color scheme.",
            "A recolor effect that darkens the image using the page's fifth available\ncolor from its color scheme.",
            "A recolor effect that darkens the image using the page's sixth available\ncolor from its color scheme.",
            "A recolor effect that darkens the image using the page's seventh\navailable color from its color scheme.",
            "A recolor effect that darkens the image using the page's eighth available\ncolor from its color scheme.",
            "A recolor effect that darkens the image using the page's ninth available\ncolor from its color scheme.",
            "A recolor effect that darkens the image using the page's tenth available\ncolor from its color scheme.",
            "A recolor effect that recolors the image to grayscale.",
            "A recolor effect that recolors the image to negative grayscale.",
            "A recolor effect that recolors the image using the sepia color.",
            "Custom recolor effect. Refer to `recolor_stops` for the concrete\ngradient."
          ],
          "enum": [
            "NONE",
            "LIGHT1",
            "LIGHT2",
            "LIGHT3",
            "LIGHT4",
            "LIGHT5",
            "LIGHT6",
            "LIGHT7",
            "LIGHT8",
            "LIGHT9",
            "LIGHT10",
            "DARK1",
            "DARK2",
            "DARK3",
            "DARK4",
            "DARK5",
            "DARK6",
            "DARK7",
            "DARK8",
            "DARK9",
            "DARK10",
            "GRAYSCALE",
            "NEGATIVE",
            "SEPIA",
            "CUSTOM"
          ],
          "description": "The name of the recolor effect.\n\nThe name is determined from the `recolor_stops` by matching the gradient\nagainst the colors in the page's current color scheme. This property is\nread-only.",
          "type": "string"
        }
      },
      "id": "Recolor",
      "description": "A recolor effect applied on an image."
    },
    "Link": {
      "description": "A hypertext link.",
      "type": "object",
      "properties": {
        "url": {
          "description": "If set, indicates this is a link to the external web page at this URL.",
          "type": "string"
        },
        "relativeLink": {
          "enumDescriptions": [
            "An unspecified relative slide link.",
            "A link to the next slide.",
            "A link to the previous slide.",
            "A link to the first slide in the presentation.",
            "A link to the last slide in the presentation."
          ],
          "enum": [
            "RELATIVE_SLIDE_LINK_UNSPECIFIED",
            "NEXT_SLIDE",
            "PREVIOUS_SLIDE",
            "FIRST_SLIDE",
            "LAST_SLIDE"
          ],
          "description": "If set, indicates this is a link to a slide in this presentation,\naddressed by its position.",
          "type": "string"
        },
        "slideIndex": {
          "description": "If set, indicates this is a link to the slide at this zero-based index\nin the presentation. There may not be a slide at this index.",
          "format": "int32",
          "type": "integer"
        },
        "pageObjectId": {
          "description": "If set, indicates this is a link to the specific page in this\npresentation with this ID. A page with this ID may not exist.",
          "type": "string"
        }
      },
      "id": "Link"
    },
    "RgbColor": {
      "properties": {
        "green": {
          "description": "The green component of the color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "description": "The blue component of the color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        },
        "red": {
          "description": "The red component of the color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "RgbColor",
      "description": "An RGB color.",
      "type": "object"
    },
    "CreateShapeResponse": {
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the created shape.",
          "type": "string"
        }
      },
      "id": "CreateShapeResponse",
      "description": "The result of creating a shape."
    },
    "CreateLineRequest": {
      "description": "Creates a line.",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated."
        },
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the line."
        },
        "lineCategory": {
          "enumDescriptions": [
            "Straight connectors, including straight connector 1. The is the default\ncategory when one is not specified.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ],
          "enum": [
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "description": "The category of line to be created.",
          "type": "string"
        }
      },
      "id": "CreateLineRequest"
    },
    "CreateSlideResponse": {
      "description": "The result of creating a slide.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the created slide.",
          "type": "string"
        }
      },
      "id": "CreateSlideResponse"
    },
    "CreateShapeRequest": {
      "description": "Creates a new shape.",
      "type": "object",
      "properties": {
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the shape."
        },
        "objectId": {
          "description": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\nIf empty, a unique identifier will be generated.",
          "type": "string"
        },
        "shapeType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TEXT_BOX",
            "RECTANGLE",
            "ROUND_RECTANGLE",
            "ELLIPSE",
            "ARC",
            "BENT_ARROW",
            "BENT_UP_ARROW",
            "BEVEL",
            "BLOCK_ARC",
            "BRACE_PAIR",
            "BRACKET_PAIR",
            "CAN",
            "CHEVRON",
            "CHORD",
            "CLOUD",
            "CORNER",
            "CUBE",
            "CURVED_DOWN_ARROW",
            "CURVED_LEFT_ARROW",
            "CURVED_RIGHT_ARROW",
            "CURVED_UP_ARROW",
            "DECAGON",
            "DIAGONAL_STRIPE",
            "DIAMOND",
            "DODECAGON",
            "DONUT",
            "DOUBLE_WAVE",
            "DOWN_ARROW",
            "DOWN_ARROW_CALLOUT",
            "FOLDED_CORNER",
            "FRAME",
            "HALF_FRAME",
            "HEART",
            "HEPTAGON",
            "HEXAGON",
            "HOME_PLATE",
            "HORIZONTAL_SCROLL",
            "IRREGULAR_SEAL_1",
            "IRREGULAR_SEAL_2",
            "LEFT_ARROW",
            "LEFT_ARROW_CALLOUT",
            "LEFT_BRACE",
            "LEFT_BRACKET",
            "LEFT_RIGHT_ARROW",
            "LEFT_RIGHT_ARROW_CALLOUT",
            "LEFT_RIGHT_UP_ARROW",
            "LEFT_UP_ARROW",
            "LIGHTNING_BOLT",
            "MATH_DIVIDE",
            "MATH_EQUAL",
            "MATH_MINUS",
            "MATH_MULTIPLY",
            "MATH_NOT_EQUAL",
            "MATH_PLUS",
            "MOON",
            "NO_SMOKING",
            "NOTCHED_RIGHT_ARROW",
            "OCTAGON",
            "PARALLELOGRAM",
            "PENTAGON",
            "PIE",
            "PLAQUE",
            "PLUS",
            "QUAD_ARROW",
            "QUAD_ARROW_CALLOUT",
            "RIBBON",
            "RIBBON_2",
            "RIGHT_ARROW",
            "RIGHT_ARROW_CALLOUT",
            "RIGHT_BRACE",
            "RIGHT_BRACKET",
            "ROUND_1_RECTANGLE",
            "ROUND_2_DIAGONAL_RECTANGLE",
            "ROUND_2_SAME_RECTANGLE",
            "RIGHT_TRIANGLE",
            "SMILEY_FACE",
            "SNIP_1_RECTANGLE",
            "SNIP_2_DIAGONAL_RECTANGLE",
            "SNIP_2_SAME_RECTANGLE",
            "SNIP_ROUND_RECTANGLE",
            "STAR_10",
            "STAR_12",
            "STAR_16",
            "STAR_24",
            "STAR_32",
            "STAR_4",
            "STAR_5",
            "STAR_6",
            "STAR_7",
            "STAR_8",
            "STRIPED_RIGHT_ARROW",
            "SUN",
            "TRAPEZOID",
            "TRIANGLE",
            "UP_ARROW",
            "UP_ARROW_CALLOUT",
            "UP_DOWN_ARROW",
            "UTURN_ARROW",
            "VERTICAL_SCROLL",
            "WAVE",
            "WEDGE_ELLIPSE_CALLOUT",
            "WEDGE_RECTANGLE_CALLOUT",
            "WEDGE_ROUND_RECTANGLE_CALLOUT",
            "FLOW_CHART_ALTERNATE_PROCESS",
            "FLOW_CHART_COLLATE",
            "FLOW_CHART_CONNECTOR",
            "FLOW_CHART_DECISION",
            "FLOW_CHART_DELAY",
            "FLOW_CHART_DISPLAY",
            "FLOW_CHART_DOCUMENT",
            "FLOW_CHART_EXTRACT",
            "FLOW_CHART_INPUT_OUTPUT",
            "FLOW_CHART_INTERNAL_STORAGE",
            "FLOW_CHART_MAGNETIC_DISK",
            "FLOW_CHART_MAGNETIC_DRUM",
            "FLOW_CHART_MAGNETIC_TAPE",
            "FLOW_CHART_MANUAL_INPUT",
            "FLOW_CHART_MANUAL_OPERATION",
            "FLOW_CHART_MERGE",
            "FLOW_CHART_MULTIDOCUMENT",
            "FLOW_CHART_OFFLINE_STORAGE",
            "FLOW_CHART_OFFPAGE_CONNECTOR",
            "FLOW_CHART_ONLINE_STORAGE",
            "FLOW_CHART_OR",
            "FLOW_CHART_PREDEFINED_PROCESS",
            "FLOW_CHART_PREPARATION",
            "FLOW_CHART_PROCESS",
            "FLOW_CHART_PUNCHED_CARD",
            "FLOW_CHART_PUNCHED_TAPE",
            "FLOW_CHART_SORT",
            "FLOW_CHART_SUMMING_JUNCTION",
            "FLOW_CHART_TERMINATOR",
            "ARROW_EAST",
            "ARROW_NORTH_EAST",
            "ARROW_NORTH",
            "SPEECH",
            "STARBURST",
            "TEARDROP",
            "ELLIPSE_RIBBON",
            "ELLIPSE_RIBBON_2",
            "CLOUD_CALLOUT",
            "CUSTOM"
          ],
          "description": "The shape type.",
          "type": "string",
          "enumDescriptions": [
            "The shape type that is not predefined.",
            "Text box shape.",
            "Rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'rect'.",
            "Round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType\n'roundRect'",
            "Ellipse shape. Corresponds to ECMA-376 ST_ShapeType 'ellipse'",
            "Curved arc shape. Corresponds to ECMA-376 ST_ShapeType 'arc'",
            "Bent arrow shape. Corresponds to ECMA-376 ST_ShapeType 'bentArrow'",
            "Bent up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'bentUpArrow'",
            "Bevel shape. Corresponds to ECMA-376 ST_ShapeType 'bevel'",
            "Block arc shape. Corresponds to ECMA-376 ST_ShapeType 'blockArc'",
            "Brace pair shape. Corresponds to ECMA-376 ST_ShapeType 'bracePair'",
            "Bracket pair shape. Corresponds to ECMA-376 ST_ShapeType 'bracketPair'",
            "Can shape. Corresponds to ECMA-376 ST_ShapeType 'can'",
            "Chevron shape. Corresponds to ECMA-376 ST_ShapeType 'chevron'",
            "Chord shape. Corresponds to ECMA-376 ST_ShapeType 'chord'",
            "Cloud shape. Corresponds to ECMA-376 ST_ShapeType 'cloud'",
            "Corner shape. Corresponds to ECMA-376 ST_ShapeType 'corner'",
            "Cube shape. Corresponds to ECMA-376 ST_ShapeType 'cube'",
            "Curved down arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'curvedDownArrow'",
            "Curved left arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'curvedLeftArrow'",
            "Curved right arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'curvedRightArrow'",
            "Curved up arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'curvedUpArrow'",
            "Decagon shape. Corresponds to ECMA-376 ST_ShapeType 'decagon'",
            "Diagonal stripe shape. Corresponds to ECMA-376 ST_ShapeType 'diagStripe'",
            "Diamond shape. Corresponds to ECMA-376 ST_ShapeType 'diamond'",
            "Dodecagon shape. Corresponds to ECMA-376 ST_ShapeType 'dodecagon'",
            "Donut shape. Corresponds to ECMA-376 ST_ShapeType 'donut'",
            "Double wave shape. Corresponds to ECMA-376 ST_ShapeType 'doubleWave'",
            "Down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'downArrow'",
            "Callout down arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'downArrowCallout'",
            "Folded corner shape. Corresponds to ECMA-376 ST_ShapeType 'foldedCorner'",
            "Frame shape. Corresponds to ECMA-376 ST_ShapeType 'frame'",
            "Half frame shape. Corresponds to ECMA-376 ST_ShapeType 'halfFrame'",
            "Heart shape. Corresponds to ECMA-376 ST_ShapeType 'heart'",
            "Heptagon shape. Corresponds to ECMA-376 ST_ShapeType 'heptagon'",
            "Hexagon shape. Corresponds to ECMA-376 ST_ShapeType 'hexagon'",
            "Home plate shape. Corresponds to ECMA-376 ST_ShapeType 'homePlate'",
            "Horizontal scroll shape. Corresponds to ECMA-376 ST_ShapeType\n'horizontalScroll'",
            "Irregular seal 1 shape. Corresponds to ECMA-376 ST_ShapeType\n'irregularSeal1'",
            "Irregular seal 2 shape. Corresponds to ECMA-376 ST_ShapeType\n'irregularSeal2'",
            "Left arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftArrow'",
            "Callout left arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'leftArrowCallout'",
            "Left brace shape. Corresponds to ECMA-376 ST_ShapeType 'leftBrace'",
            "Left bracket shape. Corresponds to ECMA-376 ST_ShapeType 'leftBracket'",
            "Left right arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'leftRightArrow'",
            "Callout left right arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'leftRightArrowCallout'",
            "Left right up arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'leftRightUpArrow'",
            "Left up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftUpArrow'",
            "Lightning bolt shape. Corresponds to ECMA-376 ST_ShapeType\n'lightningBolt'",
            "Divide math shape. Corresponds to ECMA-376 ST_ShapeType 'mathDivide'",
            "Equal math shape. Corresponds to ECMA-376 ST_ShapeType 'mathEqual'",
            "Minus math shape. Corresponds to ECMA-376 ST_ShapeType 'mathMinus'",
            "Multiply math shape. Corresponds to ECMA-376 ST_ShapeType 'mathMultiply'",
            "Not equal math shape. Corresponds to ECMA-376 ST_ShapeType 'mathNotEqual'",
            "Plus math shape. Corresponds to ECMA-376 ST_ShapeType 'mathPlus'",
            "Moon shape. Corresponds to ECMA-376 ST_ShapeType 'moon'",
            "No smoking shape. Corresponds to ECMA-376 ST_ShapeType 'noSmoking'",
            "Notched right arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'notchedRightArrow'",
            "Octagon shape. Corresponds to ECMA-376 ST_ShapeType 'octagon'",
            "Parallelogram shape. Corresponds to ECMA-376 ST_ShapeType 'parallelogram'",
            "Pentagon shape. Corresponds to ECMA-376 ST_ShapeType 'pentagon'",
            "Pie shape. Corresponds to ECMA-376 ST_ShapeType 'pie'",
            "Plaque shape. Corresponds to ECMA-376 ST_ShapeType 'plaque'",
            "Plus shape. Corresponds to ECMA-376 ST_ShapeType 'plus'",
            "Quad-arrow shape. Corresponds to ECMA-376 ST_ShapeType 'quadArrow'",
            "Callout quad-arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'quadArrowCallout'",
            "Ribbon shape. Corresponds to ECMA-376 ST_ShapeType 'ribbon'",
            "Ribbon 2 shape. Corresponds to ECMA-376 ST_ShapeType 'ribbon2'",
            "Right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'rightArrow'",
            "Callout right arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'rightArrowCallout'",
            "Right brace shape. Corresponds to ECMA-376 ST_ShapeType 'rightBrace'",
            "Right bracket shape. Corresponds to ECMA-376 ST_ShapeType 'rightBracket'",
            "One round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType\n'round1Rect'",
            "Two diagonal round corner rectangle shape. Corresponds to ECMA-376\nST_ShapeType 'round2DiagRect'",
            "Two same-side round corner rectangle shape. Corresponds to ECMA-376\nST_ShapeType 'round2SameRect'",
            "Right triangle shape. Corresponds to ECMA-376 ST_ShapeType 'rtTriangle'",
            "Smiley face shape. Corresponds to ECMA-376 ST_ShapeType 'smileyFace'",
            "One snip corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType\n'snip1Rect'",
            "Two diagonal snip corner rectangle shape. Corresponds to ECMA-376\nST_ShapeType 'snip2DiagRect'",
            "Two same-side snip corner rectangle shape. Corresponds to ECMA-376\nST_ShapeType 'snip2SameRect'",
            "One snip one round corner rectangle shape. Corresponds to ECMA-376\nST_ShapeType 'snipRoundRect'",
            "Ten pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star10'",
            "Twelve pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star12'",
            "Sixteen pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star16'",
            "Twenty four pointed star shape. Corresponds to ECMA-376 ST_ShapeType\n'star24'",
            "Thirty two pointed star shape. Corresponds to ECMA-376 ST_ShapeType\n'star32'",
            "Four pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star4'",
            "Five pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star5'",
            "Six pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star6'",
            "Seven pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star7'",
            "Eight pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star8'",
            "Striped right arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'stripedRightArrow'",
            "Sun shape. Corresponds to ECMA-376 ST_ShapeType 'sun'",
            "Trapezoid shape. Corresponds to ECMA-376 ST_ShapeType 'trapezoid'",
            "Triangle shape. Corresponds to ECMA-376 ST_ShapeType 'triangle'",
            "Up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upArrow'",
            "Callout up arrow shape. Corresponds to ECMA-376 ST_ShapeType\n'upArrowCallout'",
            "Up down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upDownArrow'",
            "U-turn arrow shape. Corresponds to ECMA-376 ST_ShapeType 'uturnArrow'",
            "Vertical scroll shape. Corresponds to ECMA-376 ST_ShapeType\n'verticalScroll'",
            "Wave shape. Corresponds to ECMA-376 ST_ShapeType 'wave'",
            "Callout wedge ellipse shape. Corresponds to ECMA-376 ST_ShapeType\n'wedgeEllipseCallout'",
            "Callout wedge rectangle shape. Corresponds to ECMA-376 ST_ShapeType\n'wedgeRectCallout'",
            "Callout wedge round rectangle shape. Corresponds to ECMA-376 ST_ShapeType\n'wedgeRoundRectCallout'",
            "Alternate process flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartAlternateProcess'",
            "Collate flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartCollate'",
            "Connector flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartConnector'",
            "Decision flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartDecision'",
            "Delay flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDelay'",
            "Display flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartDisplay'",
            "Document flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartDocument'",
            "Extract flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartExtract'",
            "Input output flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartInputOutput'",
            "Internal storage flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartInternalStorage'",
            "Magnetic disk flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartMagneticDisk'",
            "Magnetic drum flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartMagneticDrum'",
            "Magnetic tape flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartMagneticTape'",
            "Manual input flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartManualInput'",
            "Manual operation flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartManualOperation'",
            "Merge flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMerge'",
            "Multi-document flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartMultidocument'",
            "Offline storage flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartOfflineStorage'",
            "Off-page connector flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartOffpageConnector'",
            "Online storage flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartOnlineStorage'",
            "Or flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOr'",
            "Predefined process flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartPredefinedProcess'",
            "Preparation flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartPreparation'",
            "Process flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartProcess'",
            "Punched card flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartPunchedCard'",
            "Punched tape flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartPunchedTape'",
            "Sort flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartSort'",
            "Summing junction flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartSummingJunction'",
            "Terminator flow shape. Corresponds to ECMA-376 ST_ShapeType\n'flowChartTerminator'",
            "East arrow shape.",
            "Northeast arrow shape.",
            "North arrow shape.",
            "Speech shape.",
            "Star burst shape.",
            "Teardrop shape. Corresponds to ECMA-376 ST_ShapeType 'teardrop'",
            "Ellipse ribbon shape. Corresponds to ECMA-376 ST_ShapeType\n'ellipseRibbon'",
            "Ellipse ribbon 2 shape. Corresponds to ECMA-376 ST_ShapeType\n'ellipseRibbon2'",
            "Callout cloud shape. Corresponds to ECMA-376 ST_ShapeType 'cloudCallout'",
            "Custom shape."
          ]
        }
      },
      "id": "CreateShapeRequest"
    },
    "Video": {
      "properties": {
        "source": {
          "enumDescriptions": [
            "The video source is unspecified.",
            "The video source is YouTube."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "YOUTUBE"
          ],
          "description": "The video source.",
          "type": "string"
        },
        "url": {
          "description": "An URL to a video. The URL is valid as long as the source video\nexists and sharing settings do not change.",
          "type": "string"
        },
        "id": {
          "description": "The video source's unique identifier for this video.",
          "type": "string"
        },
        "videoProperties": {
          "$ref": "VideoProperties",
          "description": "The properties of the video."
        }
      },
      "id": "Video",
      "description": "A PageElement kind representing a\nvideo.",
      "type": "object"
    },
    "PageProperties": {
      "description": "The properties of the Page.\n\nThe page will inherit properties from the parent page. Depending on the page\ntype the hierarchy is defined in either\nSlideProperties or\nLayoutProperties.",
      "type": "object",
      "properties": {
        "pageBackgroundFill": {
          "$ref": "PageBackgroundFill",
          "description": "The background fill of the page. If unset, the background fill is inherited\nfrom a parent page if it exists. If the page has no parent, then the\nbackground fill defaults to the corresponding fill in the Slides editor."
        },
        "colorScheme": {
          "$ref": "ColorScheme",
          "description": "The color scheme of the page. If unset, the color scheme is inherited from\na parent page. If the page has no parent, the color scheme uses a default\nSlides color scheme. This field is read-only."
        }
      },
      "id": "PageProperties"
    },
    "NestingLevel": {
      "description": "Contains properties describing the look and feel of a list bullet at a given\nlevel of nesting.",
      "type": "object",
      "properties": {
        "bulletStyle": {
          "$ref": "TextStyle",
          "description": "The style of a bullet at this level of nesting."
        }
      },
      "id": "NestingLevel"
    },
    "TableCell": {
      "description": "Properties and contents of each table cell.",
      "type": "object",
      "properties": {
        "tableCellProperties": {
          "$ref": "TableCellProperties",
          "description": "The properties of the table cell."
        },
        "location": {
          "$ref": "TableCellLocation",
          "description": "The location of the cell within the table."
        },
        "rowSpan": {
          "description": "Row span of the cell.",
          "format": "int32",
          "type": "integer"
        },
        "columnSpan": {
          "description": "Column span of the cell.",
          "format": "int32",
          "type": "integer"
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text content of the cell."
        }
      },
      "id": "TableCell"
    },
    "UpdateLinePropertiesRequest": {
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the line the update is applied to.",
          "type": "string"
        },
        "lineProperties": {
          "$ref": "LineProperties",
          "description": "The line properties to update."
        },
        "fields": {
          "description": "The fields that should be updated.\n\nAt least one field must be specified. The root `lineProperties` is\nimplied and should not be specified. A single `\"*\"` can be used as\nshort-hand for listing every field.\n\nFor example to update the line solid fill color, set `fields` to\n`\"lineFill.solidFill.color\"`.\n\nTo reset a property to its default value, include its field name in the\nfield mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "UpdateLinePropertiesRequest",
      "description": "Updates the properties of a Line."
    },
    "UpdatePageElementAltTextRequest": {
      "description": "Updates the alt text title and/or description of a\npage element.",
      "type": "object",
      "properties": {
        "title": {
          "description": "The updated alt text title of the page element. If unset the\nexisting value will be maintained. The title is exposed to screen readers\nand other accessibility interfaces. Only use human readable values related\nto the content of the page element.",
          "type": "string"
        },
        "description": {
          "description": "The updated alt text description of the page element. If unset the existing\nvalue will be maintained. The description is exposed to screen readers\nand other accessibility interfaces. Only use human readable values related\nto the content of the page element.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the page element the updates are applied to."
        }
      },
      "id": "UpdatePageElementAltTextRequest"
    },
    "UpdateSlidesPositionRequest": {
      "description": "Updates the position of slides in the presentation.",
      "type": "object",
      "properties": {
        "insertionIndex": {
          "description": "The index where the slides should be inserted, based on the slide\narrangement before the move takes place. Must be between zero and the\nnumber of slides in the presentation, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "slideObjectIds": {
          "description": "The IDs of the slides in the presentation that should be moved.\nThe slides in this list must be in existing presentation order, without\nduplicates.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "UpdateSlidesPositionRequest"
    },
    "TableCellBackgroundFill": {
      "description": "The table cell background fill.",
      "type": "object",
      "properties": {
        "propertyState": {
          "description": "The background fill property state.\n\nUpdating the fill on a table cell will implicitly update this field\nto `RENDERED`, unless another value is specified in the same request. To\nhave no fill on a table cell, set this field to `NOT_RENDERED`. In this\ncase, any other fill fields set in the same request will be ignored.",
          "type": "string",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding\nproperty when rendered on a page. If the element is a placeholder shape as\ndetermined by the placeholder\nfield, and it inherits from a placeholder shape, the corresponding field\nmay be unset, meaning that the property value is inherited from a parent\nplaceholder. If the element does not inherit, then the field will contain\nthe rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the\ncorresponding property when rendered on a page. However, the field may\nstill be set so it can be inherited by child shapes. To remove a property\nfrom a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of\ncorresponding `property_state` field on the parent shape. Elements that do\nnot inherit will never have an INHERIT property state."
          ],
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ]
        },
        "solidFill": {
          "description": "Solid color fill.",
          "$ref": "SolidFill"
        }
      },
      "id": "TableCellBackgroundFill"
    },
    "UpdatePagePropertiesRequest": {
      "description": "Updates the properties of a Page.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the page the update is applied to.",
          "type": "string"
        },
        "pageProperties": {
          "description": "The page properties to update.",
          "$ref": "PageProperties"
        },
        "fields": {
          "description": "The fields that should be updated.\n\nAt least one field must be specified. The root `pageProperties` is\nimplied and should not be specified. A single `\"*\"` can be used as\nshort-hand for listing every field.\n\nFor example to update the page background solid fill color, set `fields`\nto `\"pageBackgroundFill.solidFill.color\"`.\n\nTo reset a property to its default value, include its field name in the\nfield mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "UpdatePagePropertiesRequest"
    },
    "Group": {
      "properties": {
        "children": {
          "description": "The collection of elements in the group. The minimum size of a group is 2.",
          "type": "array",
          "items": {
            "$ref": "PageElement"
          }
        }
      },
      "id": "Group",
      "description": "A PageElement kind representing a\njoined collection of PageElements.",
      "type": "object"
    },
    "Placeholder": {
      "description": "The placeholder information that uniquely identifies a placeholder shape.",
      "type": "object",
      "properties": {
        "parentObjectId": {
          "description": "The object ID of this shape's parent placeholder.\nIf unset, the parent placeholder shape does not exist, so the shape does\nnot inherit properties from any other shape.",
          "type": "string"
        },
        "index": {
          "description": "The index of the placeholder. If the same placeholder types are present in\nthe same page, they would have different index values.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "description": "The type of the placeholder.",
          "type": "string",
          "enumDescriptions": [
            "Default value, signifies it is not a placeholder.",
            "Body text.",
            "Chart or graph.",
            "Clip art image.",
            "Title centered.",
            "Diagram.",
            "Date and time.",
            "Footer text.",
            "Header text.",
            "Multimedia.",
            "Any content type.",
            "Picture.",
            "Number of a slide.",
            "Subtitle.",
            "Table.",
            "Slide title.",
            "Slide image."
          ],
          "enum": [
            "NONE",
            "BODY",
            "CHART",
            "CLIP_ART",
            "CENTERED_TITLE",
            "DIAGRAM",
            "DATE_AND_TIME",
            "FOOTER",
            "HEADER",
            "MEDIA",
            "OBJECT",
            "PICTURE",
            "SLIDE_NUMBER",
            "SUBTITLE",
            "TABLE",
            "TITLE",
            "SLIDE_IMAGE"
          ]
        }
      },
      "id": "Placeholder"
    },
    "DuplicateObjectRequest": {
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The ID of the object to duplicate.",
          "type": "string"
        },
        "objectIds": {
          "description": "The object being duplicated may contain other objects, for example when\nduplicating a slide or a group page element. This map defines how the IDs\nof duplicated objects are generated: the keys are the IDs of the original\nobjects and its values are the IDs that will be assigned to the\ncorresponding duplicate object. The ID of the source object's duplicate\nmay be specified in this map as well, using the same value of the\n`object_id` field as a key and the newly desired ID as the value.\n\nAll keys must correspond to existing IDs in the presentation. All values\nmust be unique in the presentation and must start with an alphanumeric\ncharacter or an underscore (matches regex `[a-zA-Z0-9_]`); remaining\ncharacters may include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`). The length of the new ID must not be less than 5 or\ngreater than 50.\n\nIf any IDs of source objects are omitted from the map, a new random ID will\nbe assigned. If the map is empty or unset, all duplicate objects will\nreceive a new random ID.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "DuplicateObjectRequest",
      "description": "Duplicates a slide or page element.\n\nWhen duplicating a slide, the duplicate slide will be created immediately\nfollowing the specified slide. When duplicating a page element, the duplicate\nwill be placed on the same page at the same position as the original."
    },
    "ReplaceAllTextRequest": {
      "type": "object",
      "properties": {
        "replaceText": {
          "description": "The text that will replace the matched text.",
          "type": "string"
        },
        "pageObjectIds": {
          "description": "If non-empty, limits the matches to page elements only on the given pages.\n\nReturns a 400 bad request error if given the page object ID of a\nnotes master,\nor if a page with that object ID doesn't exist in the presentation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "containsText": {
          "$ref": "SubstringMatchCriteria",
          "description": "Finds text in a shape matching this substring."
        }
      },
      "id": "ReplaceAllTextRequest",
      "description": "Replaces all instances of text matching a criteria with replace text."
    },
    "UnmergeTableCellsRequest": {
      "description": "Unmerges cells in a Table.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range specifying which cells of the table to unmerge.\n\nAll merged cells in this range will be unmerged, and cells that are already\nunmerged will not be affected. If the range has no merged cells, the\nrequest will do nothing. If there is text in any of the merged cells, the\ntext will remain in the upper-left (\"head\") cell of the resulting block of\nunmerged cells."
        }
      },
      "id": "UnmergeTableCellsRequest"
    },
    "Page": {
      "description": "A page in a presentation.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID for this page. Object IDs used by\nPage and\nPageElement share the same namespace.",
          "type": "string"
        },
        "revisionId": {
          "description": "The revision ID of the presentation containing this page. Can be used in\nupdate requests to assert that the presentation revision hasn't changed\nsince the last read operation. Only populated if the user has edit access\nto the presentation.\n\nThe format of the revision ID may change over time, so it should be treated\nopaquely. A returned revision ID is only guaranteed to be valid for 24\nhours after it has been returned and cannot be shared across users. If the\nrevision ID is unchanged between calls, then the presentation has not\nchanged. Conversely, a changed ID (for the same presentation and user)\nusually means the presentation has been updated; however, a changed ID can\nalso be due to internal factors such as ID format changes.",
          "type": "string"
        },
        "layoutProperties": {
          "$ref": "LayoutProperties",
          "description": "Layout specific properties. Only set if page_type = LAYOUT."
        },
        "pageElements": {
          "description": "The page elements rendered on the page.",
          "type": "array",
          "items": {
            "$ref": "PageElement"
          }
        },
        "pageType": {
          "enum": [
            "SLIDE",
            "MASTER",
            "LAYOUT",
            "NOTES",
            "NOTES_MASTER"
          ],
          "description": "The type of the page.",
          "type": "string",
          "enumDescriptions": [
            "A slide page.",
            "A master slide page.",
            "A layout page.",
            "A notes page.",
            "A notes master page."
          ]
        },
        "notesProperties": {
          "$ref": "NotesProperties",
          "description": "Notes specific properties. Only set if page_type = NOTES."
        },
        "pageProperties": {
          "description": "The properties of the page.",
          "$ref": "PageProperties"
        },
        "slideProperties": {
          "description": "Slide specific properties. Only set if page_type = SLIDE.",
          "$ref": "SlideProperties"
        },
        "masterProperties": {
          "$ref": "MasterProperties",
          "description": "Master specific properties. Only set if page_type = MASTER."
        }
      },
      "id": "Page"
    },
    "ShapeBackgroundFill": {
      "description": "The shape background fill.",
      "type": "object",
      "properties": {
        "propertyState": {
          "description": "The background fill property state.\n\nUpdating the fill on a shape will implicitly update this field to\n`RENDERED`, unless another value is specified in the same request. To\nhave no fill on a shape, set this field to `NOT_RENDERED`. In this case,\nany other fill fields set in the same request will be ignored.",
          "type": "string",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding\nproperty when rendered on a page. If the element is a placeholder shape as\ndetermined by the placeholder\nfield, and it inherits from a placeholder shape, the corresponding field\nmay be unset, meaning that the property value is inherited from a parent\nplaceholder. If the element does not inherit, then the field will contain\nthe rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the\ncorresponding property when rendered on a page. However, the field may\nstill be set so it can be inherited by child shapes. To remove a property\nfrom a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of\ncorresponding `property_state` field on the parent shape. Elements that do\nnot inherit will never have an INHERIT property state."
          ],
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ]
        },
        "solidFill": {
          "description": "Solid color fill.",
          "$ref": "SolidFill"
        }
      },
      "id": "ShapeBackgroundFill"
    },
    "CropProperties": {
      "description": "The crop properties of an object enclosed in a container. For example, an\nImage.\n\nThe crop properties is represented by the offsets of four edges which define\na crop rectangle. The offsets are measured in percentage from the\ncorresponding edges of the object's original bounding rectangle towards\ninside, relative to the object's original dimensions.\n\n- If the offset is in the interval (0, 1), the corresponding edge of crop\nrectangle is positioned inside of the object's original bounding rectangle.\n- If the offset is negative or greater than 1, the corresponding edge of crop\nrectangle is positioned outside of the object's original bounding rectangle.\n- If the left edge of the crop rectangle is on the right side of its right\nedge, the object will be flipped horizontally.\n- If the top edge of the crop rectangle is below its bottom edge, the object\nwill be flipped vertically.\n- If all offsets and rotation angle is 0, the object is not cropped.\n\nAfter cropping, the content in the crop rectangle will be stretched to fit\nits container.",
      "type": "object",
      "properties": {
        "topOffset": {
          "description": "The offset specifies the top edge of the crop rectangle that is located\nbelow the original bounding rectangle top edge, relative to the object's\noriginal height.",
          "format": "float",
          "type": "number"
        },
        "leftOffset": {
          "description": "The offset specifies the left edge of the crop rectangle that is located to\nthe right of the original bounding rectangle left edge, relative to the\nobject's original width.",
          "format": "float",
          "type": "number"
        },
        "rightOffset": {
          "description": "The offset specifies the right edge of the crop rectangle that is located\nto the left of the original bounding rectangle right edge, relative to the\nobject's original width.",
          "format": "float",
          "type": "number"
        },
        "bottomOffset": {
          "description": "The offset specifies the bottom edge of the crop rectangle that is located\nabove the original bounding rectangle bottom edge, relative to the object's\noriginal height.",
          "format": "float",
          "type": "number"
        },
        "angle": {
          "description": "The rotation angle of the crop window around its center, in radians.\nRotation angle is applied after the offset.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "CropProperties"
    },
    "ReplaceAllShapesWithSheetsChartRequest": {
      "description": "Replaces all shapes that match the given criteria with the provided Google\nSheets chart. The chart will be scaled and centered to fit within the bounds\nof the original shape.\n\nNOTE: Replacing shapes with a chart requires at least one of the\nspreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes.",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the chart.",
          "type": "string"
        },
        "linkingMode": {
          "description": "The mode with which the chart is linked to the source spreadsheet. When\nnot specified, the chart will be an image that is not linked.",
          "type": "string",
          "enumDescriptions": [
            "The chart is not associated with the source spreadsheet and cannot be\nupdated. A chart that is not linked will be inserted as an image.",
            "Linking the chart allows it to be updated, and other collaborators will\nsee a link to the spreadsheet."
          ],
          "enum": [
            "NOT_LINKED_IMAGE",
            "LINKED"
          ]
        },
        "containsText": {
          "description": "The criteria that the shapes must match in order to be replaced. The\nrequest will replace all of the shapes that contain the given text.",
          "$ref": "SubstringMatchCriteria"
        },
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet.",
          "format": "int32",
          "type": "integer"
        },
        "pageObjectIds": {
          "description": "If non-empty, limits the matches to page elements only on the given pages.\n\nReturns a 400 bad request error if given the page object ID of a\nnotes page or a\nnotes master, or if a\npage with that object ID doesn't exist in the presentation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ReplaceAllShapesWithSheetsChartRequest"
    },
    "ColorStop": {
      "description": "A color and position in a gradient band.",
      "type": "object",
      "properties": {
        "color": {
          "description": "The color of the gradient stop.",
          "$ref": "OpaqueColor"
        },
        "alpha": {
          "description": "The alpha value of this color in the gradient band. Defaults to 1.0,\nfully opaque.",
          "format": "float",
          "type": "number"
        },
        "position": {
          "description": "The relative position of the color stop in the gradient band measured\nin percentage. The value should be in the interval [0.0, 1.0].",
          "format": "float",
          "type": "number"
        }
      },
      "id": "ColorStop"
    },
    "Range": {
      "properties": {
        "startIndex": {
          "description": "The optional zero-based index of the beginning of the collection.\nRequired for `FIXED_RANGE` and `FROM_START_INDEX` ranges.",
          "format": "int32",
          "type": "integer"
        },
        "endIndex": {
          "description": "The optional zero-based index of the end of the collection.\nRequired for `FIXED_RANGE` ranges.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "description": "The type of range.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified range type. This value must not be used.",
            "A fixed range. Both the `start_index` and\n`end_index` must be specified.",
            "Starts the range at `start_index` and continues until the\nend of the collection. The `end_index` must not be specified.",
            "Sets the range to be the whole length of the collection. Both the\n`start_index` and the `end_index` must not be\nspecified."
          ],
          "enum": [
            "RANGE_TYPE_UNSPECIFIED",
            "FIXED_RANGE",
            "FROM_START_INDEX",
            "ALL"
          ]
        }
      },
      "id": "Range",
      "description": "Specifies a contiguous range of an indexed collection, such as characters in\ntext.",
      "type": "object"
    },
    "CreateVideoRequest": {
      "description": "Creates a video.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "source": {
          "enumDescriptions": [
            "The video source is unspecified.",
            "The video source is YouTube."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "YOUTUBE"
          ],
          "description": "The video source.",
          "type": "string"
        },
        "elementProperties": {
          "description": "The element properties for the video.\n\nThe PageElementProperties.size property is\noptional. If you don't specify a size, a default size is chosen by the\nserver.\n\nThe PageElementProperties.transform property is\noptional. The transform must not have shear components.\nIf you don't specify a transform, the video will be placed at the top left\ncorner of the page.",
          "$ref": "PageElementProperties"
        },
        "id": {
          "description": "The video source's unique identifier for this video.\n\ne.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0,\nthe ID is 7U3axjORYZ0.",
          "type": "string"
        }
      },
      "id": "CreateVideoRequest"
    },
    "DuplicateObjectResponse": {
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The ID of the new duplicate object.",
          "type": "string"
        }
      },
      "id": "DuplicateObjectResponse",
      "description": "The response of duplicating an object."
    },
    "ReplaceAllShapesWithImageRequest": {
      "description": "Replaces all shapes that match the given criteria with the provided image.",
      "type": "object",
      "properties": {
        "imageUrl": {
          "description": "The image URL.\n\nThe image is fetched once at insertion time and a copy is stored for\ndisplay inside the presentation. Images must be less than 50MB in size,\ncannot exceed 25 megapixels, and must be in either in PNG, JPEG, or GIF\nformat.\n\nThe provided URL can be at most 2 kB in length.",
          "type": "string"
        },
        "replaceMethod": {
          "enum": [
            "CENTER_INSIDE",
            "CENTER_CROP"
          ],
          "description": "The replace method.",
          "type": "string",
          "enumDescriptions": [
            "Scales and centers the image to fit within the bounds of the original\nshape and maintains the image's aspect ratio. The rendered size of the\nimage may be smaller than the size of the shape. This is the default\nmethod when one is not specified.",
            "Scales and centers the image to fill the bounds of the original shape.\nThe image may be cropped in order to fill the shape. The rendered size of\nthe image will be the same as that of the original shape."
          ]
        },
        "containsText": {
          "$ref": "SubstringMatchCriteria",
          "description": "If set, this request will replace all of the shapes that contain the\ngiven text."
        },
        "pageObjectIds": {
          "description": "If non-empty, limits the matches to page elements only on the given pages.\n\nReturns a 400 bad request error if given the page object ID of a\nnotes page or a\nnotes master, or if a\npage with that object ID doesn't exist in the presentation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ReplaceAllShapesWithImageRequest"
    },
    "MergeTableCellsRequest": {
      "properties": {
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableRange": {
          "description": "The table range specifying which cells of the table to merge.\n\nAny text in the cells being merged will be concatenated and stored in the\nupper-left (\"head\") cell of the range. If the range is non-rectangular\n(which can occur in some cases where the range covers cells that are\nalready merged), a 400 bad request error is returned.",
          "$ref": "TableRange"
        }
      },
      "id": "MergeTableCellsRequest",
      "description": "Merges cells in a Table.",
      "type": "object"
    },
    "UngroupObjectsRequest": {
      "description": "Ungroups objects, such as groups.",
      "type": "object",
      "properties": {
        "objectIds": {
          "description": "The object IDs of the objects to ungroup.\n\nOnly groups that are not inside other\ngroups can be ungrouped. All the groups\nshould be on the same page. The group itself is deleted. The visual sizes\nand positions of all the children are preserved.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "UngroupObjectsRequest"
    },
    "Shadow": {
      "description": "The shadow properties of a page element.\n\nIf these fields are unset, they may be inherited from a parent placeholder\nif it exists. If there is no parent, the fields will default to the value\nused for new page elements created in the Slides editor, which may depend on\nthe page element kind.",
      "type": "object",
      "properties": {
        "transform": {
          "description": "Transform that encodes the translate, scale, and skew of the shadow,\nrelative to the alignment position.",
          "$ref": "AffineTransform"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified shadow type.",
            "Outer shadow."
          ],
          "enum": [
            "SHADOW_TYPE_UNSPECIFIED",
            "OUTER"
          ],
          "description": "The type of the shadow.",
          "type": "string"
        },
        "alignment": {
          "enumDescriptions": [
            "Unspecified.",
            "Top left.",
            "Top center.",
            "Top right.",
            "Left center.",
            "Center.",
            "Right center.",
            "Bottom left.",
            "Bottom center.",
            "Bottom right."
          ],
          "enum": [
            "RECTANGLE_POSITION_UNSPECIFIED",
            "TOP_LEFT",
            "TOP_CENTER",
            "TOP_RIGHT",
            "LEFT_CENTER",
            "CENTER",
            "RIGHT_CENTER",
            "BOTTOM_LEFT",
            "BOTTOM_CENTER",
            "BOTTOM_RIGHT"
          ],
          "description": "The alignment point of the shadow, that sets the origin for translate,\nscale and skew of the shadow.",
          "type": "string"
        },
        "alpha": {
          "description": "The alpha of the shadow's color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        },
        "color": {
          "$ref": "OpaqueColor",
          "description": "The shadow color value."
        },
        "rotateWithShape": {
          "description": "Whether the shadow should rotate with the shape.",
          "type": "boolean"
        },
        "propertyState": {
          "description": "The shadow property state.\n\nUpdating the shadow on a page element will implicitly update this field to\n`RENDERED`, unless another value is specified in the same request. To have\nno shadow on a page element, set this field to `NOT_RENDERED`. In this\ncase, any other shadow fields set in the same request will be ignored.",
          "type": "string",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding\nproperty when rendered on a page. If the element is a placeholder shape as\ndetermined by the placeholder\nfield, and it inherits from a placeholder shape, the corresponding field\nmay be unset, meaning that the property value is inherited from a parent\nplaceholder. If the element does not inherit, then the field will contain\nthe rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the\ncorresponding property when rendered on a page. However, the field may\nstill be set so it can be inherited by child shapes. To remove a property\nfrom a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of\ncorresponding `property_state` field on the parent shape. Elements that do\nnot inherit will never have an INHERIT property state."
          ],
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ]
        },
        "blurRadius": {
          "description": "The radius of the shadow blur. The larger the radius, the more diffuse the\nshadow becomes.",
          "$ref": "Dimension"
        }
      },
      "id": "Shadow"
    },
    "DeleteTableRowRequest": {
      "description": "Deletes a row from a table.",
      "type": "object",
      "properties": {
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which a row will be deleted.\n\nThe row this cell spans will be deleted. If this is a merged cell, multiple\nrows will be deleted. If no rows remain in the table after this deletion,\nthe whole table is deleted."
        },
        "tableObjectId": {
          "description": "The table to delete rows from.",
          "type": "string"
        }
      },
      "id": "DeleteTableRowRequest"
    },
    "Bullet": {
      "description": "Describes the bullet of a paragraph.",
      "type": "object",
      "properties": {
        "listId": {
          "description": "The ID of the list this paragraph belongs to.",
          "type": "string"
        },
        "glyph": {
          "description": "The rendered bullet glyph for this paragraph.",
          "type": "string"
        },
        "nestingLevel": {
          "description": "The nesting level of this paragraph in the list.",
          "format": "int32",
          "type": "integer"
        },
        "bulletStyle": {
          "description": "The paragraph specific text style applied to this bullet.",
          "$ref": "TextStyle"
        }
      },
      "id": "Bullet"
    },
    "OutlineFill": {
      "description": "The fill of the outline.",
      "type": "object",
      "properties": {
        "solidFill": {
          "description": "Solid color fill.",
          "$ref": "SolidFill"
        }
      },
      "id": "OutlineFill"
    },
    "CreateLineResponse": {
      "description": "The result of creating a line.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the created line.",
          "type": "string"
        }
      },
      "id": "CreateLineResponse"
    },
    "TableCellLocation": {
      "type": "object",
      "properties": {
        "rowIndex": {
          "description": "The 0-based row index.",
          "format": "int32",
          "type": "integer"
        },
        "columnIndex": {
          "description": "The 0-based column index.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TableCellLocation",
      "description": "A location of a single table cell within a table."
    },
    "ReplaceAllTextResponse": {
      "properties": {
        "occurrencesChanged": {
          "description": "The number of occurrences changed by replacing all text.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ReplaceAllTextResponse",
      "description": "The result of replacing text.",
      "type": "object"
    },
    "TableBorderFill": {
      "description": "The fill of the border.",
      "type": "object",
      "properties": {
        "solidFill": {
          "$ref": "SolidFill",
          "description": "Solid fill."
        }
      },
      "id": "TableBorderFill"
    },
    "UpdateParagraphStyleRequest": {
      "description": "Updates the styling for all of the paragraphs within a Shape or Table that\noverlap with the given text index range.",
      "type": "object",
      "properties": {
        "fields": {
          "type": "string",
[...]
