---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"TableName":"table58tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:ZQjoLUu4jawD/lq7c/3xRqALvT8f8g38m4N7oumNERg=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Tue, 11 Apr 2017 18:10:59 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table58tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table58tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: "--batch_370daf3b-1ee2-11e7-8317-6451064d81e8\r\nContent-Type: multipart/mixed;
      boundary=changeset_370daf3b-1ee2-11e7-8316-6451064d81e8\r\n\r\n\r\n--changeset_370daf3b-1ee2-11e7-8316-6451064d81e8\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table58tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":200.23,\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_370daf3b-1ee2-11e7-8316-6451064d81e8--\r\n\r\n--batch_370daf3b-1ee2-11e7-8317-6451064d81e8--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:gTrel6MHrzDhnjAXvMxeSo+kteLobWHWbyZT4p1DoEg=
      Content-Type:
      - multipart/mixed; boundary=batch_370daf3b-1ee2-11e7-8317-6451064d81e8
      X-Ms-Date:
      - Tue, 11 Apr 2017 18:10:59 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_36b3f5cf-db00-43ec-9831-87f61fc944a6\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_fed881dc-a747-4d56-b60d-c8d6763d1262\r\n\r\n--changesetresponse_fed881dc-a747-4d56-b60d-c8d6763d1262\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204 No
      Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nPreference-Applied:
      return-no-content\r\nDataServiceVersion: 3.0;\r\nETag: W/\"datetime'2017-04-11T18%3A10%3A59.8211935Z'\"\r\n\r\n\r\n--changesetresponse_fed881dc-a747-4d56-b60d-c8d6763d1262--\r\n--batchresponse_36b3f5cf-db00-43ec-9831-87f61fc944a6--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_36b3f5cf-db00-43ec-9831-87f61fc944a6
      X-Ms-Version:
      - 2016-05-31
    status: 202 Accepted
    code: 202
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:3H/253yNS75pLlEe3et1OQDloOOhxRzKwaXbmoQMr70=
      X-Ms-Date:
      - Tue, 11 Apr 2017 18:10:59 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table58tablebatchsuitetestbatchi?%24top=2&timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table58tablebatchsuitetestbatchi","value":[{"odata.type":"golangrocksonazure.table58tablebatchsuitetestbatchi","odata.id":"https://golangrocksonazure.table.core.windows.net/table58tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","odata.etag":"W/\"datetime''2017-04-11T18%3A10%3A59.8211935Z''\"","odata.editLink":"table58tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","PartitionKey":"mypartitionkey","RowKey":"myrowkey","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-04-11T18:10:59.8211935Z","AmountDue":200.23,"CustomerCode@odata.type":"Edm.Guid","CustomerCode":"c9da6455-213d-42c9-9a79-3e9149a57833","CustomerSince@odata.type":"Edm.DateTime","CustomerSince":"1992-12-20T21:55:00Z","IsActive":true,"NumberOfOrders@odata.type":"Edm.Int64","NumberOfOrders":"255"}]}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:TlhMcLi8twonEpG/QCzz7vy3UsbnLLi+1DaGb/aC6sc=
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Tue, 11 Apr 2017 18:10:59 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table58tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
