---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"TableName":"table48tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:pOaHxR/s7rWzcksn6cFJDOO53tfCk8MAuDl7eKONElY=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Tue, 11 Apr 2017 18:11:09 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table48tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table48tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: "--batch_3da8ce75-1ee2-11e7-b451-6451064d81e8\r\nContent-Type: multipart/mixed;
      boundary=changeset_3da8bae2-1ee2-11e7-b451-6451064d81e8\r\n\r\n\r\n--changeset_3da8bae2-1ee2-11e7-b451-6451064d81e8\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table48tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":200.23,\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_3da8bae2-1ee2-11e7-b451-6451064d81e8\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nDELETE https://golangrocksonazure.table.core.windows.net/table48tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nIf-Match: *\r\nPrefer: return-no-content\r\n\r\n\r\n--changeset_3da8bae2-1ee2-11e7-b451-[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:njb4+PrjVSZhwsBX15rCVfgCrdtFG+H56EoHnD3WmhU=
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Tue, 11 Apr 2017 18:11:10 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table48tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
