---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"TableName":"table57tablebatchsuitetestbatchi"}
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:1t2kY6E0PFMc1W+posaBaQmjBq5FxR+gI/5VXQMEUEo=
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Tue, 11 Apr 2017 18:11:10 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables?timeout=30
    method: POST
  response:
    body: ""
    headers:
      Dataserviceid:
      - https://golangrocksonazure.table.core.windows.net/Tables('table57tablebatchsuitetestbatchi')
      Location:
      - https://golangrocksonazure.table.core.windows.net/Tables('table57tablebatchsuitetestbatchi')
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
- request:
    body: "--batch_3e004b55-1ee2-11e7-b454-6451064d81e8\r\nContent-Type: multipart/mixed;
      boundary=changeset_3e004b55-1ee2-11e7-b453-6451064d81e8\r\n\r\n\r\n--changeset_3e004b55-1ee2-11e7-b453-6451064d81e8\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":200.23,\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"IsActive\":true,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_3e004b55-1ee2-11e7-b453-6451064d81e8--\r\n\r\n--batch_3e004b55-1ee2-11e7-b454-6451064d81e8--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:MNYkaMVXUmwr78A4rKs6MJvi/scN2r6+JhTAA1KPZjw=
      Content-Type:
      - multipart/mixed; boundary=batch_3e004b55-1ee2-11e7-b454-6451064d81e8
      X-Ms-Date:
      - Tue, 11 Apr 2017 18:11:10 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/$batch
    method: POST
  response:
    body: "--batchresponse_dba5b2db-650e-48c5-b5b9-a3770097be23\r\nContent-Type: multipart/mixed;
      boundary=changesetresponse_9787c335-dd9c-49b5-9a1b-8ea7983786d9\r\n\r\n--changesetresponse_9787c335-dd9c-49b5-9a1b-8ea7983786d9\r\nContent-Type:
      application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204 No
      Content\r\nX-Content-Type-Options: nosniff\r\nCache-Control: no-cache\r\nPreference-Applied:
      return-no-content\r\nDataServiceVersion: 3.0;\r\nETag: W/\"datetime'2017-04-11T18%3A11%3A11.4273629Z'\"\r\n\r\n\r\n--changesetresponse_9787c335-dd9c-49b5-9a1b-8ea7983786d9--\r\n--batchresponse_dba5b2db-650e-48c5-b5b9-a3770097be23--\r\n"
    headers:
      Content-Type:
      - multipart/mixed; boundary=batchresponse_dba5b2db-650e-48c5-b5b9-a3770097be23
      X-Ms-Version:
      - 2016-05-31
    status: 202 Accepted
    code: 202
- request:
    body: "--batch_3e085bac-1ee2-11e7-b455-6451064d81e8\r\nContent-Type: multipart/mixed;
      boundary=changeset_3e085bac-1ee2-11e7-b454-6451064d81e8\r\n\r\n\r\n--changeset_3e085bac-1ee2-11e7-b454-6451064d81e8\r\nContent-Transfer-Encoding:
      binary\r\nContent-Type: application/http\r\n\r\nPUT https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi%28PartitionKey=%27mypartitionkey%27,%20RowKey=%27myrowkey%27%29
      HTTP/1.1\r\nAccept: application/json;odata=minimalmetadata\r\nContent-Type:
      application/json\r\nPrefer: return-no-content\r\n\r\n{\"AmountDue\":200.23,\"CustomerCode\":\"c9da6455-213d-42c9-9a79-3e9149a57833\",\"CustomerCode@odata.type\":\"Edm.Guid\",\"CustomerSince\":\"1992-12-20T21:55:00Z\",\"CustomerSince@odata.type\":\"Edm.DateTime\",\"DifferentField\":123,\"NumberOfOrders\":\"255\",\"NumberOfOrders@odata.type\":\"Edm.Int64\",\"PartitionKey\":\"mypartitionkey\",\"RowKey\":\"myrowkey\"}\r\n--changeset_3e085bac-1ee2-11e7-b454-6451064d81e8--\r\n\r\n--batch_3e085bac-1ee2-11e7-b455-6451064d81e8--\r\n"
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:X19NrQ82k2XSNtPA3NIJJvIC+QoZLxhxBBYslyYLUnQ=
      Content-Type:
      - multipart/mixed; boundary=batch_3e085bac-1ee2-11e7-b455-6451064d81e8
      X-Ms-Date:
      - [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:fVYsV74PwOzoaxoWf4Z8Gm0hcROYbMQp7/g26UW/nls=
      X-Ms-Date:
      - Tue, 11 Apr 2017 18:11:11 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi?%24top=2&timeout=30
    method: GET
  response:
    body: '{"odata.metadata":"https://golangrocksonazure.table.core.windows.net/$metadata#table57tablebatchsuitetestbatchi","value":[{"odata.type":"golangrocksonazure.table57tablebatchsuitetestbatchi","odata.id":"https://golangrocksonazure.table.core.windows.net/table57tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","odata.etag":"W/\"datetime''2017-04-11T18%3A11%3A11.476397Z''\"","odata.editLink":"table57tablebatchsuitetestbatchi(PartitionKey=''mypartitionkey'',RowKey=''myrowkey'')","PartitionKey":"mypartitionkey","RowKey":"myrowkey","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-04-11T18:11:11.476397Z","AmountDue":200.23,"CustomerCode@odata.type":"Edm.Guid","CustomerCode":"c9da6455-213d-42c9-9a79-3e9149a57833","CustomerSince@odata.type":"Edm.DateTime","CustomerSince":"1992-12-20T21:55:00Z","DifferentField":123,"NumberOfOrders@odata.type":"Edm.Int64","NumberOfOrders":"255"}]}'
    headers:
      Content-Type:
      - application/json;odata=fullmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:ReX2dTRJLE2TBb/qmswmRFOPQjkv4otu9COqHtNUrvE=
      Prefer:
      - return-no-content
      X-Ms-Date:
      - Tue, 11 Apr 2017 18:11:11 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/Tables%28%27table57tablebatchsuitetestbatchi%27%29?timeout=30
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - 2016-05-31
    status: 204 No Content
    code: 204
