---
version: 1
rwmutex: {}
interactions:
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>raud</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:CmYZq2Ifv5YV7xqZwn37rh92ygeD40NHmkqdlpZEhj0=
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:38 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.table.core.windows.net/nonexistingtable?comp=acl&timeout=30
    method: PUT
  response:
    body: |-
      <?xml version="1.0" encoding="utf-8"?><m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><m:code>TableNotFound</m:code><m:message xml:lang="en-US">The table specified does not exist.
      RequestId:ab33c70a-0002-0064-375c-aeb219000000
      Time:2017-04-05T22:33:38.2906021Z</m:message></m:error>
    headers:
      Content-Type:
      - application/xml
      X-Ms-Version:
      - 2016-05-31
    status: 404 The table specified does not exist.
    code: 404
