---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:HxlXNyznIblPu2IwuXYvfPlunwGl72wbViAEzTXBM+o=
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:13 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-58containersuitetestsetconta?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D47C73BF068CFF"'
      Last-Modified:
      - Wed, 05 Apr 2017 22:33:13 GMT
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:8c7R60g2g8LXKkVejSZ84kAw/nznBVUlMJQFDpHlSgg=
      X-Ms-Blob-Public-Access:
      - blob
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:13 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-58containersuitetestsetconta?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D47C73BF777FD3"'
      Last-Modified:
      - Wed, 05 Apr 2017 22:33:14 GMT
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
[...]
