---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:8xMxTjXwyxmY58ibXtgn7jiW6wxq6obudk1RFnO+xMU=
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:13 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-65containersuitetestsetconta?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D47C73BF37DEEE"'
      Last-Modified:
      - Wed, 05 Apr 2017 22:33:13 GMT
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:bru8OJdPK9W50qzkfhNOOpfbnI+A8hyU+gOWb2IOMtI=
      X-Ms-Blob-Public-Access:
      - blob
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:13 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-65containersuitetestsetconta?comp=acl&restype=container&timeout=30
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D47C73BFA8F968"'
      Last-Modified:
      - Wed, 05 Apr 2017 22:33:14 GMT
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
[...]
