---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:UYKJKPR/Rmy1V7CWvygqIWOFax0js3LjNvk9qhpVtDc=
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:14 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-61containersuitetestsettheng?restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D47C73BF74F29E"'
      Last-Modified:
      - Wed, 05 Apr 2017 22:33:14 GMT
      X-Ms-Version:
      - 2016-05-31
    status: 201 Created
    code: 201
- request:
    body: <SignedIdentifiers><SignedIdentifier><Id>AutoRestIsSuperCool</Id><AccessPolicy><Start>2050-12-20T21:55:06Z</Start><Expiry>2050-12-21T07:55:06Z</Expiry><Permission>rwd</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>GolangRocksOnAzure</Id><AccessPolicy><Start>2050-12-21T17:55:06Z</Start><Expiry>2050-12-22T03:55:06Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>
    form: {}
    headers:
      Authorization:
      - SharedKey golangrocksonazure:fH9cWNFAFiZlRSIKbiZ0vbVFm119SpFZXLmsUt7M2SI=
      X-Ms-Blob-Public-Access:
      - blob
      X-Ms-Date:
      - Wed, 05 Apr 2017 22:33:14 GMT
      X-Ms-Version:
      - 2016-05-31
    url: https://golangrocksonazure.blob.core.windows.net/cnt-61containersuitetestsettheng?comp=acl&restype=container
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"0x8D47C73BFEDB07E"'
      Last-Modified:
      - Wed, 05 Apr 2017 22:33:14 GMT
      X-Ms-Version:
      - 2016-05-31
    status: 200 OK
    code: 200
[...]
